{* users *}
<!-- topsubnavcon static -->
<div id="topsubnavconstatic">
<ul id="topsubnav">
{if oak_check_access('User', 'User', 'Manage')}
	{if oak_admin_navigation_is_self('users_select.php', $SCRIPT_NAME)}
		<li class="on">{i18n Users}</li>
	{else}
		<li><a href="users_select.php"{if oak_admin_navigation_in_area('users_select.php', $SCRIPT_NAME)} class="on"{/if}>{i18n Users}<span></span></a></li>
	{/if}
{/if}
{if oak_check_access('User', 'Group', 'Manage')}
	{if oak_admin_navigation_is_self('groups_select.php', $SCRIPT_NAME)}
		<li class="on">{i18n Groups}</li>
	{else}
		<li><a href="groups_select.php"{if oak_admin_navigation_in_area('groups_select.php', $SCRIPT_NAME)} class="on"{/if}>{i18n Groups}<span></span></a></li>
	{/if}
{/if}
{if oak_check_access('User', 'Right', 'Manage')}
	{if oak_admin_navigation_is_self('rights_select.php', $SCRIPT_NAME)}
		<li class="on">{i18n Rights}</li>
	{else}
		<li><a href="rights_select.php"{if oak_admin_navigation_in_area('rights_select.php', $SCRIPT_NAME)} class="on"{/if}>{i18n Rights}<span></span></a></li>
	{/if}
{/if}
</ul>
</div>
<!-- topsubnavcon static eof -->
