<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Rights}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/pagemanager.css" media="screen, projection" />

<script type="text/javascript">
var response = '{$session.response}';
var selection = '{$session.selection}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.xhr.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>
<script type="text/javascript" src="../static/libs/oak.validation.js"></script>

<!--[if IE]>
<script type="text/javascript" src="../static/libs/oak.core.ie.js"></script>
<![endif]-->

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Oak}</p>
<!-- logo --></div>

{include file="_inc_topnav.html" area="users"}

{include file="_inc_projects_load.html" go_back_area="user" go_back_file="rights_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

<!-- topnavcon static -->
<div id="topsubnavconstatic">
<ul id="topsubnav">
<li><a href="users_select.php">{i18n Users}<span></span></a></li>
<li><a href="groups_select.php">{i18n Groups}<span></span></a></li>
<li class="on">{i18n Rights}<span></span></li>
</ul>
</div>
<!-- topnavcon static eof -->

<div id="brc"><p>{i18n USERS}: {i18n Rights}</p></div>

<div id="content">

<h1>{i18n Rights}</h1>

<div class="secnav474_nav_x"><a href="rights_add.php">{i18n Add new}</a></div>
<br class="clearb" />

<table summary="{i18n Right List}" class="user">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="150" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="405" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="175" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="70" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="70" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n Name} <span class="az"></span> <span class="za"></span></th>
<th class="email">{i18n Description}</th>
<th class="proj">{i18n Project} <span class="az"></span> <span class="za"></span></th>
<th>{i18n Edit}</th>
<th>{i18n Delete}</th>
</tr>
{foreach from=$rights item=_right}
<tr>
<td>{$_right.name|escape:"htmlall"}</td>
<td>{$_right.description|escape:"htmlall"|nl2br}</td>
<td>{$_right.project_name|escape:"htmlall"}</td>
{if $_right.editable}
<td><a class="edit" href="rights_edit.php?id={$_right.id|escape:"htmlall"}" title="{i18n Edit}"></a></td>
<td><a class="delete" href="rights_delete.php?id={$_right.id|escape:"htmlall"}" title="{i18n Delete}"></a></td>
{else}
<td>&nbsp;</td>
<td>&nbsp;</td>
{/if}
</tr>
{/foreach}
</table>

<!-- content --></div>
<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>