<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Mediamanager &ndash; Insert Shockwave Flash'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.forms.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
 
<script type="text/javascript">
var form_target = '{if !empty($form_target)}{$form_target}{/if}';
var callback_media_result = '{if !empty($callback_media_result)}{$callback_media_result}{/if}';
var checkbox_status = new Array('insert_as_reference');
var disable = 1;
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.mediamanager.js"></script>
<script src="../static/libs/wcom.events.popup.js"></script>
</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">

<div id="lyLowerOpacity"> </div>

<div id="modalContainer">
<div id ="topic97">
<h2>{i18n 'MEDIA MANAGER'} <span>{i18n 'INSERT SHOCKWAVE FLASH'}</span></h2>
</div>
<br class="clearb" />

<div id="modalBody">
	
{$callback}

{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">
{$form.hidden}

<h2 class="nofloat">{i18n 'Paste as HTML'}</h2>

<div id="insert_as_reference_container">
<label class="cont" for="quality"><span class="bez">{$form.quality.label}{qt el=$form.quality}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.quality.html}</label>

<label class="cont" for="scale"><span class="bez">{$form.scale.label}{qt el=$form.scale}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.scale.html}</label>

<label class="cont" for="wmode"><span class="bez">{$form.wmode.label}{qt el=$form.wmode}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.wmode.html}</label>

<label class="cont" for="bgcolor"><span class="bez">{$form.bgcolor.label}{qt el=$form.bgcolor}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.bgcolor.html}</label>

<label class="cont" for="play"><span class="bez">{$form.play.label}{qt el=$form.play}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.play.html}</label>

<label class="cont" for="loop"><span class="bez">{$form.loop.label}{qt el=$form.loop}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.loop.html}</label>
</div>

<h2 class="nofloatmt35">{i18n 'Paste as Reference'}</h2>

<label class="cont chbx" for="insert_as_reference"><span class="bez">{$form.insert_as_reference.label}{qt el=$form.insert_as_reference}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.insert_as_reference.html}</label>

{$form.submit.html}
{$form.reset.html}

</fieldset>
</form>
	
</div>
</div>
</body>
</html>