<form action="" method="post" id="mediamanager">
<fieldset>
<h2>{i18n MEDIA MANAGER}<span class="iHelpMediamanager"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a><input type="text" id="hiddenFocus" value="" /></span></h2>

<!-- help -->
<div id="lyMediamanager"></div>
<!-- help eof -->

<!-- mediamanager container (myLocal) -->
<div id="lyMediamanagerMyLocal">

<!-- mediamanager navigation (active: mm_myLocal) -->
<ul class="mmnav">
<li class="on"><span class="mm_myLocal">{i18n myLocal}</span></li>
<li><a class="mm_myFlickr" href="#">{i18n myFlickr}</a></li>
<li><a class="mm_upload" href="#">{i18n Upload}</a></li>
</ul>
<!-- mediamanager navigation (active: mm_myLocal) eof -->

<!-- element (include_types) wrap -->
<div class="mmwrap">
<span class="mm_include_types"><span class="bez">{i18n Include following types}<span class="showMediamanagerElementMyLocal"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_include_types_wrap">
<label for="mm_include_types_img"><input id="mm_include_types_img" class="chbx" type="checkbox" value="1"{if $request.mm_include_types_img} checked="checked"{/if} /><span class="cbxspread">{i18n Images}</span></label>
<label for="mm_include_types_doc"><input id="mm_include_types_doc" class="chbx" type="checkbox" value="1"{if $request.mm_include_types_doc} checked="checked"{/if} /><span class="cbxspread">{i18n Documents}</span></label>
<label for="mm_include_types_audio"><input id="mm_include_types_audio" class="chbx" type="checkbox" value="1"{if $request.mm_include_types_audio} checked="checked"{/if} /><span class="cbxspread">{i18n Audio}</span></label>
<label for="mm_include_types_video"><input id="mm_include_types_video" class="chbx" type="checkbox" value="1"{if $request.mm_include_types_video} checked="checked"{/if} /><span class="cbxspread">{i18n Video}</span></label>
<label for="mm_include_types_other"><input id="mm_include_types_other" class="chbx" type="checkbox" value="1"{if $request.mm_include_types_other} checked="checked"{/if} /><span class="cbxspread">{i18n Other}</span></label>
</span>
</span>
</div>
<!-- element (include_types) wrap -->

<!-- element (tags) wrap -->
<div class="mmwrap">
<label for="mm_tags" class="mm_tags"><span class="bez">{i18n Find by tags}<span class="hideMediamanagerElementMyLocal"><a href="#"><img src="../static/img/icons/close.gif" alt="" /></a></span></span>
<span id="mm_tags_wrap">
<input class="w200" type="text" id="mm_tags" value="{$request.mm_tags|escape:"htmlall"}" />
</span>
</label>
</div>
<!-- element (tags) wrap eof -->

<!-- element (timeframe) wrap -->
<div class="mmwrap">
<label for="mm_timeframe" class="mm_timeframe"><span class="bez">{i18n Find by timeframe}<span class="showMediamanagerElementMyLocal"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_timeframe_wrap">
<select id="mm_timeframe" name="mm_timeframe">
<option value="">{i18n Please choose...}</option>
{foreach from=$timeframes key=_timeframe item=_timeframe_name}
<option value="{$_timeframe}"{if $request.mm_timeframe == $_timeframe} selected="selected"{/if}>{$_timeframe_name}</option>
{/foreach}
</select>
</span>
</label>
</div>
<!-- element (timeframe) wrap eof -->

<!-- mediamanager (myLocal) content -->
<div id="myLocal_mm_content">

<!-- mediamanager content populate -->
<div id="myLocal_mm_contentToPopulate">
<table class="mm_content">
{foreach from=$objects item=_object}
<tr>
<td class="td_mm_media"><a class="mm_insert" name="{mm_insert_callback mime_type=$_object.file_mime_type}" id="{$_object.id}" href="#" title="{i18n Insert this media file into your content}">{if !empty($_object.preview_name_on_disk)}<img src="{$media_store_www}/{$_object.preview_name_on_disk|escape:"url"}" alt="{$_object.file_name_on_disk|escape:"htmlall"}" width="40" height="40" />{else}<img src="../static/img/icons/mime/{mm_icon mime_type=$_object.file_mime_type}" />{/if}</a> 
</td>
<td class="td_mm_meta">{$_object.file_name|truncate:30:"":true|wordwrap:15:"\n":true|escape:"htmlall"|nl2br}</td>
{mm_is_podcast_format var=podcastable mime_type=$_object.file_mime_type}
<td class="td_mm_casts">{if $request.mm_pagetype == 'WCOM_BLOG' && $podcastable}<a class="mm_cast" id="{$_object.id}" href="#" title="{i18n Use for podcast}"></a>{else}&nbsp;{/if}
</td>
<td class="td_mm_edit"><a class="mm_edit" href="#" id="{$_object.id}" title="{i18n Edit}"></a></td>
<td class="td_mm_del"><a class="mm_delete" href="#" id="{$_object.id}" title="{i18n Delete}"></a></td>
</tr>
{/foreach}
</table>
<span id="indicator_local"><img src="../static/img/indicator.gif" alt="" /></span>
</div>
<!-- mediamanager content populate eof -->
</div>
<!-- mediamanager content eof -->

<!-- mediamanager pager -->
{if count($page_index) > 1}
<div class="mm_pager">
{foreach from=$page_index item=_item}
{if $_item.page == 1 && $_item.self != $request.mm_start}
<a class="pager" id="{$_item.self}" href="#" title="{i18n Start}">&lt;&lt;</a>
{/if}
{if $_item.self == $request.mm_start}<span id="pager_page_container">{$_item.self}</span>{if !is_null($_item.last)}<a class="pager" id="{$_item.last}" href="#" title="{i18n Previous}">&lt;</a>{/if}{$_item.page|escape:"htmlall"} of {$_item.total_pages}{if !is_null($_item.next)}<a class="pager" id="{$_item.next}" href="#" title="{i18n Next}">&gt;</a>{/if}
{/if}
{if $_item.page == $_item.total_pages && $_item.self != $request.mm_start }
<a class="pager" id="{$_item.self}" href="#" title="{i18n End}">&gt;&gt;</a>
{/if}
{/foreach}
</div>
{/if}
<!-- mediamanager pager eof -->

</div>
<!-- mediamanager container (myLocal) eof -->




<!-- mediamanager container (myFlickr) -->
<div id="lyMediamanagerMyFlickr">
	
<!-- mediamanager navigation (active: mm_myFlickr) -->
<ul class="mmnav">
<li><a class="mm_myLocal" href="#">{i18n myLocal}</a></li>
<li class="on"><span class="mm_myFlickr">{i18n myFlickr}</span></li>
</ul>
<!-- mediamanager navigation (active: mm_myFlickr) eof -->

<!-- element (user) wrap -->
<div class="mmwrap">
<span class="mm_user"><span class="bez">{i18n Flickr user}<span class="hideMediamanagerElementMyFlickr"><a href="#"><img src="../static/img/icons/close.gif" alt="" /></a></span></span>
<span id="mm_user_wrap">
<table>
<tr>
<td><input class="w150" type="text" id="mm_user" value="{$request.mm_user|escape:"htmlall"}" /></td>
<td><input type="button" id="submit55" value="{i18n Load}" /></td>
</tr>
</table>
</span>
</span>
</div>
<!-- surrounding table on user inputs is needed for safari -> see http://bugs.webkit.org/show_bug.cgi?id=6991 -->
<!-- element (user) wrap eof -->

<!-- element (photoset) wrap -->
<div class="mmwrap">
<label for="mm_photoset" class="mm_photoset"><span class="bez">{i18n Find by Flickr photoset}<span class="hideMediamanagerElementMyFlickr"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_photoset_wrap">
<select id="mm_photoset">
<option value="">{i18n Please choose...}</option>
{foreach from=$photosets item=_photoset}
<option value="{$_photoset.id|escape:"htmlall"}"{if $request.mm_photoset == $_photoset.id} selected="selected"{/if}>{$_photoset.title|truncate:25:"..."|escape:"htmlall"}</option>
{/foreach}
</select>
</span>
</label>
</div>
<!-- element (photoset) wrap -->

<!-- element (photoset) wrap -->
<div class="mmwrap">
<label for="mm_flickrtags" class="mm_flickrtags"><span class="bez">{i18n Find by Flickr tags}<span class="showMediamanagerElementMyFlickr"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_flickrtags_wrap">
<input class="w200" type="text" id="mm_flickrtags" value="{$request.mm_flickrtags|escape:"htmlall"}" />
</span>
</label>
</div>
<!-- element (photoset) wrap -->

<!-- mediamanager (myFlickr) content -->
<div id="myFlickr_mm_content">

<!-- mediamanager content populate -->
<div id="myFlickr_mm_contentToPopulate">
{if empty($error)}
<table class="mm_content">
{foreach from=$photos.photos item=_photo}
<tr>
<td class="td_mm_media_flickr"><a class="mm_insertFlickr" name="flickr" href="#" title="{i18n Insert this media file into your content}"><img src="http://static.flickr.com/{$_photo.server}/{$_photo.id}_{$_photo.secret}_s.jpg" width="60" height="60" alt="{$_photo.title|escape:"htmlall"}" /></a></td>
<td colspan="4">{$_photo.title|escape:"htmlall"}
<select id="size" name="size">
<option value="1">{i18n Image sizes...}</option>
<option value="_s">{i18n Small (75px, square)}</option>
<option value="_t">{i18n Thumbnail (100px)}</option>
<option value="_m">{i18n Small (240px)}</option>
<option value="">{i18n Medium (500px)}</option>
<option value="_b">{i18n Large (1024px)}</option>
</select>
<input type="hidden" value="http://www.flickr.com/photos/{$user.user_id}/{$_photo.id}/" />

</td>
</tr>
{/foreach}
</table>
{else}
{$error}
{/if}
<span id="indicator_flickr"><img src="../static/img/indicator.gif" alt="" /></span>
</div>
<!-- mediamanager content populate eof -->

</div>
<!-- mediamanager content eof -->

<!-- mediamanager pager -->
{if count($page_index) > 1}
<div class="mm_pager">
{foreach from=$page_index item=_item}
{if $_item.page == 1 && $_item.self != $request.mm_start}
<a class="pager_myFlickr" id="{$_item.self}" href="#" title="{i18n Start}">&lt;&lt;</a>
{/if}
{if $_item.self == $request.mm_start}<span id="pager_page_container">{$_item.self}</span>{if !is_null($_item.last)}<a class="pager_myFlickr" id="{$_item.last}" href="#" title="{i18n Previous}">&lt;</a>{/if}{$_item.page|escape:"htmlall"} of {$_item.total_pages}{if !is_null($_item.next)}<a class="pager_myFlickr" id="{$_item.next}" href="#" title="{i18n Next}">&gt;</a>{/if}
{/if}
{if $_item.page == $_item.total_pages && $_item.self != $request.mm_start }
<a class="pager_myFlickr" id="{$_item.self}" href="#" title="{i18n End}">&gt;&gt;</a>
{/if}
{/foreach}
</div>
{/if}
<!-- mediamanager pager eof -->

</div>
<!-- mediamanager container (myFlickr) eof -->

</fieldset>
</form>