<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Mediamanager &ndash; Upload'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.forms.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';
var pager_page = '{$pager_page}';
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.mediamanager.js"></script>
<script src="../static/libs/wcom.events.popup.js"></script></head>

<body id="modalWindow" onunload="Helper.closePopupTrack()">
	
<div id="lyLowerOpacity"> </div>
	
<div id="uploadMessage" style="display:none;">
<h1>{i18n 'Please wait. Upload processing...'} <img src="../static/img/indicatorblue.gif" alt="" /></h1>
<p><img src="../static/img/bg_uploadmessage_bot.gif" width="500" height="3" alt="" /></p>	
</div>

<div id="modalContainer">
<div id ="topic97">
<h2>{i18n 'MEDIA MANAGER'} <span>{i18n 'UPLOAD MEDIA'}</span></h2>
</div>
<br class="clearb" />

<div id="modalBody">
	
{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

{if $session.response == 1}
<div id="rp">
<h1>{i18n 'Fine, your input was successfully stored!'}</h1>
<p>{i18n 'To apply further input, please repeat fill in the form'}</p>
<!-- rp --></div>
{/if}

{if $session.response == 2}
<div id="rp">
<h1>{i18n 'Sorry, your input was not stored!'}</h1>
<p>{i18n 'A media file with the same name already exists. A media file name has to be unique.'}</p>
<!-- rp --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">
{$form.hidden}

<label class="cont" for="file"><span class="bez">{$form.file.label}{qt el=$form.file}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.file.html}</label>

<label class="cont h04" for="description"><span class="bez">{$form.description.label}{qt el=$form.description}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.description.html}</label>

<div class="act">
<ul class="shownav">
<li>{i18n 'Current tags'}<span class="showElem"><a href="#"><img title="{i18n 'Show this element'}" src="../static/img/icons/open.gif" alt="" /></a></span></li>
</ul>
</div>
<div class="current_tags_wrap" id="current_tags_wrap" style="display:none;">
<ul>
{foreach from=$current_tags item=_current_tags}
<li><a class="insert_tags" title="{i18n 'Insert Tag'}" href="#" rel="{$_current_tags.word_url}">{$_current_tags.word_url|truncate:60:"...":true|escape:"html"|nl2br}</a></li>
{/foreach}
</ul>
</div>

<label class="cont h04act" for="tags"><span class="bez">{$form.tags.label}{qt el=$form.tags}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.tags.html}</label>

{$form.submit.html}
{$form.close.html}

</fieldset>
</form>
	
</div>
</div>
</body>
</html>