<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Global Files &ndash; Create Reference to Global File}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/oak.admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/oak.pagemanager.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';

var formTarget = '{$target}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.helper.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>

</head>

<body id="modalWindow">

<div id="modalContainer">
<div id="globalfiles">
<h2>{i18n GLOBAL FILES} <span>{i18n CREATE REFERENCE}</span><span class="close"><a href"#">{i18n Close Window}</a></span></h2>

<div id="modalBody">
	
<table id="firstNode">
{foreach from=$global_files item=_file}
<tr>
<td class="initialNode"><a class="act_setInternalLinkGlobalFiles" id="{if !empty($delimiter)}{literal}<%{/literal}{else}{literal}{{/literal}{/if}global_file name=&quot;{$_file.name}&quot;{if !empty($delimiter)}{literal}%>{/literal}{else}{literal}}{/literal}{/if}" href="#" title="{i18n Insert link}">{$_file.name|escape:"htmlall"}</a></td>
</tr>
{/foreach}
</table>

<br class="clearb" />

</div>
</div>
</div>
</body>
</html>