<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Text Macros'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script></head>

<body>
<div id="container">

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p>{i18n 'Logged in as user'}:<br /><span>{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</span></p></div>

<div id="logout"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="application"}

{include file="_inc_projects_load.html" go_back_area="application" go_back_file="textmacros_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="application/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Settings'}</strong>: {i18n 'Text Macros'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n 'Text Macros'}</h1>

<div class="secnav474_nav_x"><a href="textmacros_add.php">{i18n 'Add new'}</a></div>
<br class="clearb" />

{if !empty($text_macros)}
{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="textmacros_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li>
{/if}
{/foreach}
</ul>
<br class="clearb" />
{/if}
<table summary="{i18n 'Available Text Macros'}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="460" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="135" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="80" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="135" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n 'Name'}</th>
<th class="page">{i18n 'Internal Name'}</th>
<th class="page">{i18n 'Type'}</th>
<th class="page">{i18n 'Editable'}</th>
<th>{i18n 'Delete'}</th>
</tr>
{foreach from=$text_macros item=_text_macro}
<tr>
{if $_text_macro.editable}
<td class="page"><a href="textmacros_edit.php?id={$_text_macro.id|escape:"url"}{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}" title="{i18n 'Edit'}">{$_text_macro.name|escape:"html"}</a></td>
<td>{$_text_macro.internal_name}</td>
<td>{$_text_macro.type}</td>
<td>{if $_text_macro.editable == 0}{i18n 'No'}{else}{i18n 'Yes'}{/if}</td>
<td class="page"><a class="delete" href="textmacros_delete.php?id={$_text_macro.id|escape:"url"}{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}" title="{i18n 'Delete entry'}"></a></td>
{else}
<td class="page">{$_text_macro.name|escape:"html"}</td>
<td>{$_text_macro.internal_name}</td>
<td>{$_text_macro.type}</td>
<td>{if $_text_macro.editable == 0}{i18n 'No'}{else}{i18n 'Yes'}{/if}</td>
<td>&nbsp;</td>
{/if}
</tr>
{/foreach}
</table>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="textmacros_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n 'No text macro has been created yet.'}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>