<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Blog Comments'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.forms.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script>
</head>

<body>
<div id="container">

<div id="statuschange" style="display:none;">
<h1>{i18n 'Change of comment status successfully saved!'}</h1>
<p></p>	
</div>

<div id="lyLowerOpacity"> </div>

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p class="page"><a title="{i18n 'Edit user'}" href="../user/users_edit.php?id={$_wcom_current_user.id}">{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</a></p><p class="page"><a target="_blank" title="{i18n 'Public page, open in new window'}" href="../../index.php?project_name={$_wcom_current_project.name_url}">{i18n 'Public page'}</a></p></div>

<div id="logout" class="page"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="community"}

{include file="_inc_projects_load.html" go_back_area="community" go_back_file="blogcomments_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="community/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Users'}</strong>: {i18n 'Blog Comments'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">
<h1>{i18n 'Blog Comments'}</h1>

<div class="secnav474_nav_x">&nbsp;</div>
<br class="clearb" />

<div class="filter clearfix">
{if $total_blog_comment_count > 0}
<h2>{i18n 'Filter:'}</h2>
<form action="blogcomments_select.php" method="get">
<fieldset>
<label for="page">{i18n 'Blog'}</label> 
<select id="page" name="page">
<option selected="selected">{i18n 'Please choose...'}</option>
{foreach from=$pages item=_page}
{if $_page.page_type_name == "WCOM_BLOG"}
<option value="{$_page.id|escape:"html"}"{if $request.page == $_page.id} selected="selected"{/if}>{$_page.name|escape:"html"}</option>
{/if}
{/foreach}
</select>
<label for="status">{i18n 'Status'}</label> 
<select id="status" name="status">
<option selected="selected">{i18n 'Please choose...'}</option>
{foreach from=$blog_comment_statuses item=_status}
<option value="{$_status.id|escape:"html"}"{if $request.status == $_status.id} selected="selected"{/if}>{$_status.name|escape:"html"}</option>
{/foreach}
</select>
<label for="timeframe">{i18n 'Timeframe'}</label> 
<select id="timeframe" name="timeframe">
<option selected="selected">{i18n 'Please choose...'}</option>
{foreach from=$timeframes key=_timeframe item=_timeframe_name}
<option value="{$_timeframe|escape:"html"}"{if $request.timeframe == $_timeframe} selected="selected"{/if}>{$_timeframe_name|escape:"html"}</option>
{/foreach}
</select>
<label for="limit">{i18n 'Show per page'}</label> 
<select id="limit" name="limit">
<option value="20"{if empty($request.limit)} selected="selected"{/if}>20</option>
<option value="50"{if $request.limit == "50"} selected="selected"{/if}>50</option>
<option value="100"{if $request.limit == "100"} selected="selected"{/if}>100</option>
</select>
&nbsp;&nbsp;<input type="submit" class="submit90" value="{i18n 'Filter'}" />
</fieldset>
</form>
{/if}
<!-- filter --></div>

{if count($blog_comments) > 0}
{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="blogcomments_select.php?page={$request.page|escape:"url"}{if isset($request.posting)}&amp;posting={$request.posting|escape:"url"}{/if}{if isset($request.timeframe)}&amp;timeframe={$request.timeframe|escape:"url"}{/if}{if isset($request.draft)}&amp;draft={$request.draft|escape:"url"}{/if}&amp;start={$_item.self|escape:"url"}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}">{$_item.page}</a></li>
{/if}
{/foreach}
</ul>
<br class="clearb" />
{/if}
<form method="post" action="{$wcom_admin_root_www}/community/blogcomments_delete.php" name="blogcomments">
<table summary="{i18n 'Blog Comments List'}" class="blogcomments">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="270" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="160" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="220" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="120" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="65" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="35" height="1" alt="" /></td>
</tr>
<tr>
<th>{i18n 'Blog-Name'}<br />{i18n 'Posting Title'}</th>
<th>{i18n 'Author'}<br />{i18n 'Mail/Homepage'}</th>
<th>{i18n 'First 80 chars of comment'}</th>
<th>{i18n 'Status'}</th>
<th>{i18n 'View'}</th>
<th>{i18n 'Delete'}</th>
<th></th>
</tr>
{foreach from=$blog_comments item=_comment}
<tr>
<td class="page"><a href="blogcomments_edit.php?id={$_comment.id|escape:"url"}" title="{i18n 'Edit'}">{$_comment.page_name|escape:"html"}<br/>{$_comment.blog_posting_title|escape:"html"|nl2br}</a></td>
<td>{$_comment.name|escape:"html"}<br />
{if !empty($_comment.email)}
{$_comment.email|escape:"html"}
{else}
{$_comment.homepage|escape:"html"|nl2br}</td>
{/if}
<td>
{$_comment.content_raw|truncate:80}</td>
<td>
<form action="" method="post">
<fieldset id="{$_comment.id|escape:"url"}">
<select class="item_status changeBlogCommentStatus" name="item_status">
<option value="">&nbsp;</option>
{foreach from=$blog_comment_statuses item=_status}
<option value="{$_status.id|escape:"html"}"{if $_comment.status == $_status.id} selected="selected"{/if}>{$_status.name|escape:"html"}</option>
{/foreach}
</select>
</fieldset>
</form>
</td>
<td><a class="comment showTableRow" href="#" id="e_{$_comment.id}" title="{i18n 'View Comment'}"></a></td>
<td style="text-align: right;"><input type="checkbox" class="chbx" name="blogcomments[]" value="{$_comment.id}"></td>
</tr>
<tr id="o_{$_comment.id}" class="outer">
<td colspan="6">
<div id="i_{$_comment.id}" class="inner">
<fieldset>
<h3>{i18n 'Comment'}</h3>
<p>{$_comment.content_raw}</p>
{if !empty($_comment.spam_report)}
<h3>{i18n 'Spam report'}</h3>
<p>{$_comment.spam_report}</p>
{/if}
<h3>{i18n 'Edited'}</h3>
<p>{if !empty($_comment.edited)}{i18n 'yes'}{else}{i18n 'no'}{/if}</p>
</fieldset>
</div>
</td>
</tr>
{/foreach}
<tr>
</tr>
</table>
<p style="text-align: right;"><a rel="blogcomment" href="#" class="selAllCheckboxes">{i18n 'Select all'}</a> | <a rel="blogcomment" href="#" class="deselAllCheckboxes">{i18n 'Deselect all'}</a></p>
<div class="right"><input class="submit140" name="delete" value="{i18n 'Delete'}" type="submit"></div>
</form>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="blogcomments_select.php?page={$request.page|escape:"url"}&amp;timeframe={$request.timeframe|escape:"url"}&amp;posting={$request.posting|escape:"url"}&amp;start={$_item.self|escape:"url"}">{$_item.page}</a></li>
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n 'No blog comment has been created yet.'}</p>
{/if}
<!-- content --></div>
<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>