<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Community Settings'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.forms.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script>
</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p>{i18n 'Logged in as user'}:<br /><span>{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</span></p></div>

<div id="logout"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="community"}

{include file="_inc_projects_load.html" go_back_area="community" go_back_file="settings.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="community/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Community'}</strong>: {i18n 'Settings'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n 'Settings'}</h1>

<div class="secnav710_navplus_x">&nbsp;</div>
<br class="clearb" />

{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

{if $session.response == 1}
<div id="rp">
<h1>{i18n 'Your input was successfully saved!'}</h1>
<p>{i18n 'To apply further changes, please repeat fill in the form'}</p>
<!-- rp --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<h2>{i18n 'Comments'}</h2>

<label class="cont" for="community_settings_blog_comment_display_status"><span class="bez260">{$form.blog_comment_display_status.label}{qt el=$form.blog_comment_display_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_display_status.html}</label>

<label class="cont" for="community_settings_blog_comment_default_status"><span class="bez260">{$form.blog_comment_default_status.label}{qt el=$form.blog_comment_default_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_default_status.html}</label>

<label class="cont" for="community_settings_blog_comment_spam_status"><span class="bez260">{$form.blog_comment_spam_status.label}{qt el=$form.blog_comment_spam_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_spam_status.html}</label>

<label class="cont" for="community_settings_blog_comment_ham_status"><span class="bez260">{$form.blog_comment_ham_status.label}{qt el=$form.blog_comment_ham_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_ham_status.html}</label>

<label class="cont" for="community_settings_blog_comment_use_captcha"><span class="bez260">{$form.blog_comment_use_captcha.label}{qt el=$form.blog_comment_use_captcha}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_use_captcha.html}</label>

<label class="cont" for="community_settings_blog_comment_timeframe_threshold"><span class="bez260">{$form.blog_comment_timeframe_threshold.label}{qt el=$form.blog_comment_timeframe_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_timeframe_threshold.html}</label>

<label class="cont chbxs" for="community_settings_blog_comment_bayes_autolearn"><span class="bez260">{$form.blog_comment_bayes_autolearn.label}{qt el=$form.blog_comment_bayes_autolearn}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_bayes_autolearn.html}</label>

<label class="cont" for="community_settings_blog_comment_bayes_autolearn_threshold"><span class="bez260">{$form.blog_comment_bayes_autolearn_threshold.label}{qt el=$form.blog_comment_bayes_autolearn_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_bayes_autolearn_threshold.html}</label>

<label class="cont" for="community_settings_blog_comment_bayes_spam_threshold"><span class="bez260">{$form.blog_comment_bayes_spam_threshold.label}{qt el=$form.blog_comment_bayes_spam_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_bayes_spam_threshold.html}</label>

<label class="cont" for="community_settings_blog_comment_text_converter"><span class="bez260">{$form.blog_comment_text_converter.label}{qt el=$form.blog_comment_text_converter}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_comment_text_converter.html}</label>

</fieldset>

<fieldset class="within">
<h2>{i18n 'Trackbacks'}</h2>
	
<label class="cont" for="community_settings_blog_trackback_display_status"><span class="bez260">{$form.blog_trackback_display_status.label}{qt el=$form.blog_trackback_display_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_display_status.html}</label>

<label class="cont" for="community_settings_blog_trackback_default_status"><span class="bez260">{$form.blog_trackback_default_status.label}{qt el=$form.blog_trackback_default_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_default_status.html}</label>

<label class="cont" for="community_settings_blog_trackback_spam_status"><span class="bez260">{$form.blog_trackback_spam_status.label}{qt el=$form.blog_trackback_spam_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_spam_status.html}</label>

<label class="cont" for="community_settings_blog_trackback_ham_status"><span class="bez260">{$form.blog_trackback_ham_status.label}{qt el=$form.blog_trackback_ham_status}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_ham_status.html}</label>

<label class="cont" for="community_settings_blog_trackback_timeframe_threshold"><span class="bez260">{$form.blog_trackback_timeframe_threshold.label}{qt el=$form.blog_trackback_timeframe_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_timeframe_threshold.html}</label>

<label class="cont chbxs" for="community_settings_blog_trackback_bayes_autolearn"><span class="bez260">{$form.blog_trackback_bayes_autolearn.label}{qt el=$form.blog_trackback_bayes_autolearn}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_bayes_autolearn.html}</label>

<label class="cont" for="community_settings_blog_trackback_bayes_autolearn_threshold"><span class="bez260">{$form.blog_trackback_bayes_autolearn_threshold.label}{qt el=$form.blog_trackback_bayes_autolearn_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_bayes_autolearn_threshold.html}</label>

<label class="cont" for="community_settings_blog_trackback_bayes_spam_threshold"><span class="bez260">{$form.blog_trackback_bayes_spam_threshold.label}{qt el=$form.blog_trackback_bayes_spam_threshold}<span class="iHelp"><a href="#" title="{i18n 'Show help on this topic'}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.blog_trackback_bayes_spam_threshold.html}</label>


{$form.submit.html}

</fieldset>
</form>

<!-- content --></div>


<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>