<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; User Groups'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script>
</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p>{i18n 'Logged in as user'}:<br /><span>{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</span></p></div>

<div id="logout"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="users"}

{include file="_inc_projects_load.html" go_back_area="user" go_back_file="groups_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="user/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Users'}</strong>: {i18n 'Groups'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n 'Groups'}</h1>

<div class="secnav474_nav_x"><a href="groups_add.php">{i18n 'Add new'}</a></div>
<br class="clearb" />

<table summary="{i18n 'Group List'}" class="user">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="275" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="240" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="220" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="60" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n 'Name'}</th>
<th class="email">{i18n 'Description'}</th>
<th class="proj">{i18n 'Project'}</th>
<th>{i18n 'Duplicate'}</th>
<th>{i18n 'Delete'}</th>
</tr>
{foreach from=$groups item=_group}
<tr>
<td class="page">
{if $_group.editable}
<a href="groups_edit.php?id={$_group.id|escape:"url"}" title="{i18n 'Edit'}">{$_group.name|escape:"html"}</a>
{else}
{$_group.name|escape:"html"}
{/if}
</td>
<td>{$_group.description|escape:"html"|nl2br}</td>
<td>{$_group.project_name|escape:"html"}</td>
<td class="page"><a class="edit" href="groups_copy.php?id={$_group.id|escape:"url"}" title="{i18n 'Duplicate entry'}"></a></td>
{if $_group.editable}
<td class="page"><a class="delete" href="groups_delete.php?id={$_group.id|escape:"url"}" title="{i18n 'Delete entry'}"></a></td>
{else}
<td>&nbsp;</td>
{/if}
</tr>
{/foreach}
</table>

<!-- content --></div>
<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>