<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="language" content="de" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta http-equiv="imagetoolbar" content="no" /> 
  <title>Oak Setup</title>
  <link rel="stylesheet" type="text/css" href="static/styles/setup.css" media="screen, projection" />
</head>

<body>
<div id="container">

<div id="header"> 
<div id="logo">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<p>Oak Setup</p>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- logo --></div>

<div id="topnavcon">
<ul id="topnav">
<li class="one">Licence<span></span></li>
<li class="two">Requirements<span></span></li>
<li class="three on">Database<span></span></li>
<li class="four">Configuration<span></span></li>
<li class="five">Finish<span></span></li>
</ul>
<!-- topnavcon --></div>

<!-- header --></div>

<div id="content">

<h1>Database</h1>
<p>Please enter the information required to connect to the database.</p>

{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<fieldset>

<label class="cont" for="database_database"><span class="bez">{$form.database.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.database.html}<span class="validate" id="database_database_container"></span></label>

<label class="cont" for="database_user"><span class="bez">{$form.user.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.user.html}</label>

<label class="cont" for="database_password"><span class="bez">{$form.password.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.password.html}</label>

<label class="cont" for="database_connection_method"><span class="bez">{$form.connection_method.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.connection_method.html}</label>
</fieldset>

<fieldset>
<label class="cont" for="database_host"><span class="bez">{$form.host.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.host.html}</label>

<label class="cont" for="database_port"><span class="bez">{$form.port.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.port.html}<span class="validate" id="database_port_container"></span></label>
</fieldset>

<fieldset>
<label class="cont" for="database_unix_socket"><span class="bez">{$form.unix_socket.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="static/img/icons/help.gif" alt="" /></a></span></span>
{$form.unix_socket.html}</label>
</fieldset>

{$form.submit.html}

</fieldset>
</form>


<!-- content --></div>


<p class="copyright">Administrator: <a href="mailto:webmaster@nn.de">webmaster@nn.de</a> Copyright 2005 &copy; <a href="http://www.sopic.com/">Sopic GmbH</a></p>
<!-- container --></div>
</body>
</html>
