<form action="" method="post" id="mediamanager">
<fieldset>
<h2>{i18n MEDIA MANAGER}<span class="iHelpMediamanager"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></h2>

<!-- help -->
<div id="lyMediamanager"></div>
<!-- help eof -->

<!-- mediamanager container (myLocal) -->
<div id="lyMediamanagerMyLocal">

<!-- mediamanager navigation (active: mm_myLocal) -->
<ul class="mmnav">
<li class="on"><span class="mm_myLocal">{i18n myLocal}</span></li>
<li><a class="mm_myFlickr" href="#">{i18n myFlickr}</a></li>
<li><a class="mm_upload" href="#">{i18n Upload}</a></li>
</ul>
<!-- mediamanager navigation (active: mm_myLocal) eof -->

<!-- element (include_types) wrap -->
<div class="mmwrap">
<span class="mm_include_types"><span class="bez">{i18n Include following types}<span class="showMediamanagerElement"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_include_types_wrap">
<label for="mm_include_types_img"><input id="mm_include_types_img" class="chbx" type="checkbox" value="1"{if $request.types.image} checked="checked"{/if} /><span class="cbxspread">{i18n Images}</span></label>
<label for="mm_include_types_doc"><input id="mm_include_types_doc" class="chbx" type="checkbox" value="1"{if $request.types.document} checked="checked"{/if} /><span class="cbxspread">{i18n Documents}</span></label>
<label for="mm_include_types_audio"><input id="mm_include_types_audio" class="chbx" type="checkbox" value="1"{if $request.types.audio} checked="checked"{/if} /><span class="cbxspread">{i18n Audio}</span></label>
<label for="mm_include_types_video"><input id="mm_include_types_video" class="chbx" type="checkbox" value="1"{if $request.types.video} checked="checked"{/if} /><span class="cbxspread">{i18n Video}</span></label>
<label for="mm_include_types_other"><input id="mm_include_types_other" class="chbx" type="checkbox" value="1"{if $request.types.other} checked="checked"{/if} /><span class="cbxspread">{i18n Other}</span></label>
</span>
</span>
</div>
<!-- element (include_types) wrap -->

<!-- element (tags) wrap -->
<div class="mmwrap">
<label for="mm_tags" class="mm_tags"><span class="bez">{i18n Find by tags}<span class="hideMediamanagerElement"><a href="#"><img src="../static/img/icons/close.gif" alt="" /></a></span></span>
<span id="mm_tags_wrap">
<input class="w200" type="text" id="mm_tags" value="{$request.tags|escape:"htmlall"}" />
</span>
</label>
</div>
<!-- element (tags) wrap eof -->

<!-- element (timeframe) wrap -->
<div class="mmwrap">
<label for="mm_timeframe" class="mm_timeframe"><span class="bez">{i18n Find by timeframe}<span class="showMediamanagerElement"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_timeframe_wrap">
<select id="mm_timeframe" name="mm_timeframe">
<option value="">{i18n Please choose...}</option>
{foreach from=$timeframes key=_timeframe item=_timeframe_name}
<option value="{$_timeframe}"{if $request.timeframe == $_timeframe} selected="selected"{/if}>{$_timeframe_name}</option>
{/foreach}
</select>
</span>
</label>
</div>
<!-- element (timeframe) wrap eof -->

<!-- mediamanager (myLocal) content -->
<div id="myLocal_mm_content">

<!-- mediamanager content populate -->
<div id="myLocal_mm_contentToPopulate">
<table class="mm_content">
{foreach from=$objects item=_object}
<tr>
<td class="td_mm_media">{if $_object.type == 'image'}<a class="mm_insertImageItem" id="{$_object.id}" href="#" title="{i18n Insert this image to your content}"><img src="{$image_store_www}/{$_object.preview_name_on_disk|escape:"url"}" alt="{$_object.file_name_on_disk|escape:"htmlall"}" width="40" height="40" /></a>{/if}{if $_object.type == 'document'}<a class="mm_insertDocumentItem" id="{$_object.id}" href="#" title="{i18n Insert this document to your content}">Insert</a>{/if}
</td>
<td class="td_mm_meta">{$_object.file_name|truncate:30:"":true|wordwrap:15:"\n":true|escape:"htmlall"|nl2br}</td>
<td class="td_mm_casts">{if $pagetype == 2}{if $_object.type == 'document' || $_object.type == 'audio' || $_object.type == 'video'}<a class="mm_cast" id="{$_object.id}" href="#" title="{i18n Use for podcast}"></a>{else}&nbsp;{/if}{/if}
</td>
<td class="td_mm_edit"><a class="mm_edit" href="#" id="{$_object.id}" title="{i18n Edit}"></a></td>
<td class="td_mm_del"><a class="mm_delete" href="#" id="{$_object.id}" title="{i18n Delete}"></a></td>
</tr>
{/foreach}
</table>
<span id="indicator_local"><img src="../static/img/indicator.gif" alt="" /></span>
</div>
<!-- mediamanager content populate eof -->
</div>
<!-- mediamanager content eof -->

<!-- mediamanager pager -->
<div class="mm_pager">
Page <a href="#">1 of 10</a>	
</div>
<!-- mediamanager pager eof -->

</div>
<!-- mediamanager container (myLocal) eof -->




<!-- mediamanager container (myFlickr) -->
<div id="lyMediamanagerMyFlickr">
	
<!-- mediamanager navigation (active: mm_myFlickr) -->
<ul class="mmnav">
<li><a class="mm_myLocal" href="#">{i18n myLocal}</a></li>
<li class="on"><span class="mm_myFlickr">{i18n myFlickr}</span></li>
</ul>
<!-- mediamanager navigation (active: mm_myFlickr) eof -->

<!-- element (user) wrap -->
<div class="mmwrap">
<span class="mm_user"><span class="bez">{i18n Flickr user}<span class="hideMediamanagerElement"><a href="#"><img src="../static/img/icons/close.gif" alt="" /></a></span></span>
<span id="mm_user_wrap">
<input class="w150" type="text" id="mm_user" value="{$request.mm_user|escape:"htmlall"}" />
<input type="button" id="submitFlickrFindByUsername" value="{i18n Search}" />
</span>
</span>
</div>
<!-- element (user) wrap eof -->

<!-- element (photoset) wrap -->
<div class="mmwrap">
<label for="mm_photoset" class="mm_photoset"><span class="bez">{i18n Find by Flickr photoset}<span class="showMediamanagerElement"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_photoset_wrap">
<select id="mm_photoset">
<option value="">{i18n Please choose...}</option>
{foreach from=$photosets item=_photoset}
<option value="{$_photoset.id|escape:"htmlall"}"{if $request.mm_photoset == $_photoset.id} selected="selected"{/if}>{$_photoset.title|truncate:25:"..."|escape:"htmlall"}</option>
{/foreach}
</select>
</span>
</label>
</div>
<!-- element (photoset) wrap -->

<!-- element (photoset) wrap -->
<div class="mmwrap">
<label for="mm_flickrtags" class="mm_flickrtags"><span class="bez">{i18n Find by Flickr tags}<span class="showMediamanagerElement"><a href="#"><img src="../static/img/icons/open.gif" alt="" /></a></span></span>
<span id="mm_flickrtags_wrap">
<input class="w200" type="text" id="mm_flickrtags" value="{$request.mm_flickrtags|escape:"htmlall"}" />
</span>
</label>
</div>
<!-- element (photoset) wrap -->

<!-- mediamanager (myFlickr) content -->
<div id="myFlickr_mm_content">

<!-- mediamanager content populate -->
<div id="myFlickr_mm_contentToPopulate">
<table class="mm_content">
{foreach from=$photos.photos item=_photo}
<tr>
<td class="td_mm_media"><a href="#"><img src="http://static.flickr.com/{$_photo.server}/{$_photo.id}_{$_photo.secret}_s.jpg" width="75" height="75" alt="{$_photo.title|escape:"htmlall"}" /></a></td>
<td colspan="4">{$_photo.title|escape:"htmlall"}</td>
</tr>
{/foreach}
</table>
<span id="indicator_flickr"><img src="../static/img/indicator.gif" alt="" /></span>
</div>
<!-- mediamanager content populate eof -->

</div>
<!-- mediamanager content eof -->

<!-- mediamanager pager -->
<div class="mm_pager">
Page <a href="#">1 of 10</a>	
</div>
<!-- mediamanager pager eof -->

</div>
<!-- mediamanager container (myFlickr) eof -->

</fieldset>
</form>