<h2>MEDIA MANAGER <span>UPLOAD MEDIA</span></h2>

<div id="mm_modalBody">
	
<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<label class="cont" for="types"><span class="bez">{$form.types.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.types.html}</label>

<label class="cont h13" for="description"><span class="bez">{$form.description.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.description.html}</label>

<label class="cont h13" for="tags"><span class="bez">{$form.tags.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.tags.html}</label>

{$form.submit.html}
{$form.reset.html}

</fieldset>
</form>
	
</div>