<div id="topnavcon">
<ul id="topnav">
<li><a {if $area == 'contents'}class="conon"{else}class="con"{/if} href="{$oak_admin_root_www}/content/pages_select.php">{i18n Contents}<span></span></a></li>
<!-- <li><a {if $area == 'media'}class="medon"{else}class="med"{/if} href="{$oak_admin_root_www}/media/media_select.php">{i18n Media Library}<span></span></a></li> -->
<li><a {if $area == 'community'}class="comon"{else}class="com"{/if} href="{$oak_admin_root_www}/community/community_select.php">{i18n Community}<span></span></a></li>
<li><a {if $area == 'users'}class="usron"{else}class="usr"{/if} href="{$oak_admin_root_www}/user/users_select.php">{i18n Users}<span></span></a></li>
<li><a {if $area == 'templating'}class="temon"{else}class="tem"{/if} href="{$oak_admin_root_www}/templating/templates_select.php">{i18n Templating}<span></span></a></li>
<li><a {if $area == 'application'}class="seton"{else}class="set"{/if} href="{$oak_admin_root_www}/settings/settings_select.php">{i18n Settings}<span></span></a></li>
</ul>
<!-- topnavcon --></div>