<div id="topsubnavcon" class="ff">
<ul id="topsubnavdynamic">
<li><a href="{$oak_admin_root_www}/templating/templates_select.php">{i18n Templates}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/templating/templatesets_select.php">{i18n Template Sets}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/templating/templatetypes_select.php">{i18n Template Types}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/templating/globaltemplates_select.php">{i18n Global Templates}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/templating/globalfiles_select.php">{i18n Global Files}<span></span></a></li>
</ul>
<!-- topnavcon --></div>