<div id="topsubnavcon" class="ff">
<ul id="topsubnavdynamic">
<li><a href="{$oak_admin_root_www}/media/documents_select.php">{i18n Documents}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/media/images_select.php">{i18n Images}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/media/podcasts_select.php">{i18n Podcasts}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/media/documentcategories_select.php">{i18n Document Categories}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/media/imagecategories_select.php">{i18n Image Categories}<span></span></a></li>
</ul>
<!-- topnavcon --></div>