<div id="topsubnavcon">
<ul id="topsubnavdynamic">
<li><a href="{$oak_admin_root_www}/templating/templates_select.php">{i18n Templates}</a></li>
<li><a href="{$oak_admin_root_www}/templating/templatesets_select.php">{i18n Template Sets}</a></li>
<li><a href="{$oak_admin_root_www}/templating/templatetypes_select.php">{i18n Template Types}</a></li>
<li><a href="{$oak_admin_root_www}/templating/globaltemplates_select.php">{i18n Global Templates}</a></li>
<li><a href="{$oak_admin_root_www}/templating/globalfiles_select.php">{i18n Global Files}</a></li>
<li><a class="highlight" href="">&nbsp;</a></li>
</ul>
<!-- topnavcon --></div>