<div id="topsubnavcon" class="f9">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<ul id="topsubnav">
<li><a{if $subarea == 'pages'} class="on"{/if} href="pages_select.php">Pages<span></span></a></li>
<li><a{if $subarea == 'navigations'} class="on"{/if} href="navigations_select.php">Navigations<span></span></a></li>
<li><a{if $subarea == 'pagetypes'} class="on"{/if} href="pagetypes_select.php">Page types<span></span></a></li>
</ul>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- topnavcon --></div>