<div id="topsubnavcon">
<ul id="topsubnavdynamic">
<li><a href="{$oak_admin_root_www}/community/blogcomments_select.php">{i18n Blog Comments}</a></li>
<li><a href="{$oak_admin_root_www}/community/blogcommentstatuses_select.php">{i18n Blog Comment Status}</a></li>
<li><a href="{$oak_admin_root_www}/community/antispamplugins_select.php">{i18n Anti Spam Plugins}</a></li>
<li><a href="{$oak_admin_root_www}/community/settings.php">{i18n Community Settings}</a></li>
<li><a class="highlight" href="">&nbsp;</a></li>
</ul>
<!-- topnavcon --></div>