<div id="topsubnavcon" class="ff">
<ul id="topsubnavdynamic">
<li><a href="{$oak_admin_root_www}/community/blogcomments_select.php">{i18n Blog Comments}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/community/blogcommentstatuses_select.php">{i18n Blog Comment Statuses}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/community/antispamplugins_select.php">{i18n Anti Spam Plugins}<span></span></a></li>
<li><a href="{$oak_admin_root_www}/community/settings.php">{i18n Community Settings}<span></span></a></li>
</ul>
<!-- topnavcon --></div>