<div id="topsubnavcon">
<ul id="topsubnavdynamic">
{if oak_check_access('Templating', 'Template', 'Manage')}
<li><a href="{$oak_admin_root_www}/templating/templates_select.php">{i18n Templates}</a></li>
{/if}
{if  oak_check_access('Templating', 'TemplateSet', 'Manage')}
<li><a href="{$oak_admin_root_www}/templating/templatesets_select.php">{i18n Template Sets}</a></li>
{/if}
{if oak_check_access('Templating', 'TemplateType', 'Manage')}
<li><a href="{$oak_admin_root_www}/templating/templatetypes_select.php">{i18n Template Types}</a></li>
{/if}
{if oak_check_access('Templating', 'GlobalTemplate', 'Manage')}
<li><a href="{$oak_admin_root_www}/templating/globaltemplates_select.php">{i18n Global Templates}</a></li>
{/if}
{if oak_check_access('Templating', 'GlobalFile', 'Manage')}
<li><a href="{$oak_admin_root_www}/templating/globalfiles_select.php">{i18n Global Files}</a></li>
{/if}
<li><a class="highlight" href="">&nbsp;</a></li>
</ul>
<!-- topnavcon --></div>