{if count($projects) > 1}
<form action="../application/projects_choose.php" method="post">
<input type="hidden" name="go_back_area" value="{$go_back_area}" />
<input type="hidden" name="go_back_file" value="{$go_back_file}" />
<div id="projects">
<select name="id" class="fselect">
{foreach from=$projects item=_project}
<option value="{$_project.id|escape:"htmlall"}"{if $_project.id == $oak_current_project} selected="selected"{/if}>{$_project.name|escape:"htmlall"}</option>
{/foreach}
</select>
<input class="submitbut90" type="submit" name="send" value="{i18n load}" title="{i18n Load project}" />
<!--projects --></div>
</form>
{/if}