<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Login}</title>
<link rel="stylesheet" type="text/css" href="static/styles/oak.admin.css" media="screen, projection" />

</head>

<body id="login">
<div id="container">

<div id="logo">
<p>{i18n OAK}</p>
<!-- logo --></div>

<div id="main">

<div id="content">

<h1>{i18n Login}</h1>

{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<label class="cont" for="user_login"><span class="bez">{$form.email.label}</span>
{$form.email.html}</label>

<label class="cont" for="user_secret"><span class="bez">{$form.secret.label}</span>
{$form.secret.html}</label>

{$form.submit.html}

</fieldset>
</form>

<!-- content --></div>
<!-- main --></div>
<!-- container --></div>
</body>
</html>
