<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="language" content="de" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta http-equiv="imagetoolbar" content="no" /> 
  <title>{i18n Oak Admin &ndash; Pages}</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/admin.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="../static/styles/pagemanager.css" media="screen, projection" />
</head>

<body>
<div id="container">


<div id="logo">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<p>Oak</p>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- logo --></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html"}

<div id="main">

{include file="_inc_topsubnav.html" subarea="pages"}

<div id="brc"><p><a href="#">Contents</a> &#62; Pages</p></div>

<div id="content">

<h1>Pages</h1>

<div class="navigation"></div>
<div class="hli ef">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h2>Navigation 1</h2>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli --></div>



<table summary="Seiten und Struktur der Hauptnavigation">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="485" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">Page structure:</th>
<th colspan="2">Position</th>
<th>New page</th>
<th>Edit contents</th>
<th>Delete page</th>
</tr>
<tr>
<td class="page"><span>Startseite</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page"><span>News/Presse</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page"><span>&Uuml;ber Uns</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page2">Unser Team</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page2">Referenzen</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page2">Veranstaltungen</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page">Jobs</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page2">Ausbildung</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page3">Vertrieb</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page4">Vertrieb A</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page5">Vertrieb AA</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page">Produkte</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page">Downloads <img src="../static/img/icons/lock.gif" width="11" height="12" alt="Gesch&uuml;tzer Bereich" /></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page">Links</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
</table>

<div class="navigation"></div>
<div class="hli ef">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h2>Navigation 2</h2>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli --></div>

<table summary="Seiten und Struktur der Hauptnavigation">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="485" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="32" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="32" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">Page structure:</th>
<th colspan="2">Position</th>
<th>New page</th>
<th>Edit contents</th>
<th>Delete page</th>
</tr>
<tr>
<td class="page"><span>Kontakt</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page"><span>Impressum</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page"><span>Anfahrt</span></td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
<tr>
<td class="page">Blog</td>
<td><a class="down" href="#" title="Down"></a></td>
<td><a class="up" href="#" title="Up"></a></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td><a class="edit" href="#" title="Edit page contents"></a></td>
<td><a class="delete" href="#" title="Delete page"></a></td>
</tr>
</table>

<div class="navigation"></div>
<div class="hli ef">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h2>Navigation 3</h2>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli --></div>

<table summary="Seiten und Struktur der Hauptnavigation">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="485" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="32" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="32" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">Page structure:</th>
<th colspan="2">Position</th>
<th>New page</th>
<th>Edit contents</th>
<th>Delete page</th>
</tr>
<tr>
<td class="page">No pages available</td>
<td></td>
<td></td>
<td><a class="new" href="#" title="Add new page"></a></td>
<td></td>
<td></td>
</tr>
</table>

<!-- content --></div>


<!-- main --></div>
<p class="copyright">Administrator: <a href="mailto:webmaster@nn.de">webmaster@nn.de</a> Copyright 2005 &copy; <a href="http://www.sopic.com/">Sopic GmbH</a></p>
<!-- container --></div>
</body>
</html>
