* {
margin: 0;
padding: 0;
}
html, body, fieldset, a img {
border: 0 none;
}
body {
font: 95% Arial, Helvetica, sans-serif;
color: #333;
background: #d9d9d9 url(../img/bg_body.gif); 
padding: 12px 0 0 0;
text-align: center;
}

h1 {
font-size: 2em;
font-weight: normal;
color: #0c3;
margin: 40px 0 15px 10px;
}
h2, p, a, li, th, td, select, label, input, legend {
font-size: 0.80em;
}
p a, li a, th a, td a, label select, label input, label p, label span span a {
font-size: 100%;
} 
a {
text-decoration: none;
}
a:link, a:visited {
color: #00AE2C;
background: transparent;
}
a:hover {
color: #00AE2C;
background: transparent;
text-decoration: underline;
}
a:active, a:focus {
color: #fff;
background: #0c3;
}
#container {
position: relative;
width: 768px;
min-height: 800px;
background: #fff url(../img/bg_container.gif) 0 0 repeat-y;
margin: 0 auto;
text-align: left;
}
#container p.copyright {
margin: 80px 20px 0 20px;
padding-bottom: 20px;
text-align: right;
}
#header {
width: 768px;
height: 170px;
background: transparent url(../img/bg_header.gif) 0 0 no-repeat;
}

/* LOGO START */
#logo {
position: absolute;
top: 25px;
left: 544px;
width: 200px;
background: transparent; 
}
#logo p {
color: #fff;
background: #0c3;
padding-left: 7px;
font-size: 20px;
}
#logo .xtop, 
#logo .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
#logo .xb1, #logo .xb2, #logo .xb3 {
display: block; 
overflow: hidden;
}
#logo .xb1, #logo .xb2, #logo .xb3 {
height: 1px;
}
#logo .xb2, 
#logo .xb3 {
background: #0c3; 
}
#logo .xb1 {
margin: 0 3px; 
background: #0c3;
}
#logo .xb2 {
margin: 0 2px; 
}
#logo .xb3 {
margin: 0 1px;
}
/* LOGO STOP */

/* TOPNAVIGATION START */
#topnavcon {
position: absolute;
top: 170px;
left: 153px;
width: 600px;
}
#topnav {
list-style: none;
width: 600px;
height: 1.5em;
}
#topnav li {
position: relative;
display: block;
float: left;
font-weight: bold;
padding: 4px 0;
width: 100px;
text-align: center;
}
#topnav .one span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/one.gif) 0 0 no-repeat;
}
#topnav .two span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/two.gif) 0 0 no-repeat;
}
#topnav .three span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/three.gif) 0 0 no-repeat;
}
#topnav .four span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/four.gif) 0 0 no-repeat;
}
#topnav .five span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/five.gif) 0 0 no-repeat;
}
#topnav .six span {
position: absolute;
top: -60px;
left: 25px;
display: block;
width: 49px;
height: 49px;
background: transparent url(../img/six.gif) 0 0 no-repeat;
}
#topnav li.on {
color: #0c3;
}
#topnav .on span {
background-position: 0 -49px;
}
/* TOPNAVIGATION STOP */

#content {
margin: 19px;
width: 730px;
}
#content p {
margin: 10px;
}


/* FORMs */
form.botbg {
width: 729px;
padding: 15px 0 20px 0;
background: transparent url(../img/bg_fieldset_bot.gif) left bottom no-repeat;
}
fieldset.topbg {
width: 729px;
padding: 10px 0 0 0;
background: transparent url(../img/bg_fieldset_top.gif) left top no-repeat;
}
fieldset h2 {
font-weight: normal;
margin: 0 0 5px 15px;
padding-top: 15px;
}
legend {
margin: 20px 0 5px 5px;
padding: 0;
}
label {
display: block;
width: 700px;
margin: 15px 0 0 15px;
clear: both;
}
label.cont { 
padding: 5px 0;
margin: 0 0 0 15px;
clear: both;
height: 1.6em;
}
label.cont50 {
padding: 5px 0;
margin: 0;
clear: both;
height: 5em;
}
label .bez280, label .bez200 {
display: block; 
float: left;
width: 280px;
height: 1.6em;
vertical-align: middle;
margin-right: 5px;
font-weight: bold;
}
label .bez200 {
width: 200px;
}
label .req {
color: #f00;
}
input.w100, input.w200, input.w300, input.w580 {
border: 1px solid #ccc;
padding: 2px 2px;
color: #000;
background: #fff;
}
input.w100 {
width: 100px;
}
input.w200 {
width: 200px;
}
input.w300 {
float: left;
width: 300px;
}
input.w580 {
width: 580px;
font-weight: bold;
}
textarea.w450h300 {
width: 450px;
height: 300px;
border: 1px solid #ccc;
margin-left: 220px;
}
input.chbx {
border-color: #666;
}
input.submitbut140, input.submitbut130 {
float: left;
text-align: left;
background: #0c3 url(../img/icons/submitbut140_green.gif) no-repeat;
color: #fff;
width: 140px;
height: 20px;
font-size: 80%;
font-weight: bold;
border: 0 none;
padding: 0 0 0 5px;
margin: 10px  0 0 220px;
cursor: pointer;
}
input.submitbut130 {
background: #0c3 url(../img/icons/submitbut130_green.gif) no-repeat;
color: #fff;
width: 130px;
}
input.m300 {
margin-left: 300px;
}
a.submitbut140gray, a.submitbut140gray:link, a.submitbut140gray:visited,
a.submitbut130gray, a.submitbut130gray:link, a.submitbut130gray:visited {
display: block;
float: left;
text-align: left;
background: #ccc url(../img/icons/submitbut140_gray.gif) no-repeat;
color: #fff;
width: 135px;
height: 20px;
line-height: 20px;
font-size: 80%;
font-weight: bold;
border: 0 none;
padding: 0 0 0 5px;
margin: 10px  0 0 10px;
cursor: pointer;
}
a.submitbut130gray, a.submitbut130gray:link, a.submitbut130gray:visited {
background: #ccc url(../img/icons/submitbut130_gray.gif) no-repeat;
color: #fff;
width: 125px;
}
.submits {
display: block;
height: 1.5em;
clear: both;
padding: 15px 0;
}

.marker_error {
color: #FF0000;
}
.marker_warning {
color: #FF9900;
}
.marker_fine {
color: #00CC33;
}

/* HELP */
#content p.help {
float: left;
display: block;
line-height: 1.5em;
width: 300px;
margin: 0;
padding-left: 140px;
}
.iHelp img, .iHelpRemove img {
vertical-align: middle;
}
/* CLEARFIX */
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix { 
height: 1%; 
}
/* End hide from IE-mac */