<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{i18n 'Welcompose Admin &ndash; Smarty Plugins &ndash; Insert'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
 
<script type="text/javascript">
var form_target = '{$callback_params.form_target}';
var delimiter = '{$callback_params.delimiter}';
var text = '{$callback_params.text}';
var text_converter = '{$callback_params.text_converter}';
var pager_page = '{$callback_params.pager_page}';
var insert_type = '{$callback_params.insert_type}';
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.popup.js"></script>
</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">

<div id="modalContainer">
<div id="smartyplugins">
<div id ="topic97">
<h2>{i18n 'SMARTY PLUGINS'} <span>{i18n 'INSERT'}</span></h2>
<span class="close"><a href="#">{i18n 'Close Window'}</a></span>
</div>
<br class="clearb" />

<div id="modalBody">
<div id="firstNode">
<table>
<tr>
<td class="initialNode"><a class="process_insert" id="select_named" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'select_named'}</a></td>
<td class="description">
	<p>{i18n 'Please note, that not all <strong>optional</strong> params are usable on every namespace, class and/or class methods. To find out what options are available for your class or method you like to apply please have a look at the <a target="_blank" title="External link to welcompose online API documentation" href="http://dokumentation.welcompose.de/api/">API Documentation</a>'}</p>
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>ns</dt>
		<dd>{i18n 'Namespace of the class/method to apply'}
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>Application</li>
				<li>Community</li>
				<li>Content</li>
				<li>Media</li>
			</ul>
		</dd>
		<dt>class</dt>
		<dd>{i18n 'Class to apply'}</dd>
		<dt>method</dt>
		<dd>{i18n 'Class method to apply'}</dd>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>navigation <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by a specified navigation, numeric value'}</dd>
		<dt>navigation_name <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by a specified name of a navigation, string value'}</dd>
		<dt>type <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by a specified page type, numeric value'}</dd>
		<dt>page <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by page id, numeric value'}</dd>
		<dt>posting <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by distinctive blog posting id, numeric value'}</dd>
		<dt>start <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by start on given id, numeric value'}</dd>
		<dt>limit <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by given number, numeric value'}</dd>
		<dt>year_added <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by year, string value, e.g. "2011"'}</dd>
		<dt>month_added <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by month, string value, e.g. "02" for februar'}</dd>
		<dt>day_added <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by day, string value, e.g. "03" for third day of month'}</dd>
		<dt>tag_word_url <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by given tag word, string value, e.g. "event"'}</dd>
		<dt>order_macro <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Order the result set, string value'} 
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>DATE_ADDED:DESC</li>
				<li>DATE_ADDED:ASC</li>
				<li>DATE_MODIFIED:DESC</li>
				<li>DATE_MODIFIED:ASC</li>
				<li>PRIORITY:DESC</li>
				<li>PRIORITY:ASC</li>
				<li>NAME:DESC</li>
				<li>NAME:ASC</li>
				<li>RANDOM</li>
				<li>TITLE</li>
			</ul>
		</dd>
		<dt>timeframe <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by timeframe range, string value'} 
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>today</li>
				<li>yesterday</li>
				<li>two_days_ago</li>
				<li>three_days_ago</li>
				<li>four_days_ago</li>
				<li>five_days_ago</li>
				<li>six_days_ago</li>
				<li>seven_days_ago</li>
				<li>this_week</li>
				<li>last_week</li>
				<li>two_weeks_ago</li>
				<li>three_weeks_ago</li>
				<li>four_weeks_ago</li>
				<li>this_month</li>
				<li>last_month</li>
				<li>two_months_ago</li>
				<li>three_months_ago</li>
				<li>four_months_ago</li>
				<li>five_months_ago</li>
				<li>six_months_ago</li>
				<li>half_year_ago</li>
				<li>one_year_ago</li>
				<li>two_years_ago</li>
				<li>three_years_ago</li>
				<li>four_years_ago</li>
				<li>five_years_ago</li>
			</ul>
		</dd>
		<dt>current_date <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set based on the current date on page load, string value'}
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>FORWARD</li>
				<li>BACKWARD</li>
			</ul>
		</dd>
		<dt>search_name <span>({i18n 'optional'})</span></dt>
		<dd>{i18n 'Narrow the result set by given search string, string value. This uses a likewise operator. If a blog postings name contains the given string, it matches the search'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/templating.templates.html#templating.templates.usage.load_more_data">{i18n 'See documentation'}</a></p></td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="select_simple" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'select_simple'} | <strong>id</strong></a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>ns</dt>
		<dd>{i18n 'Namespace of the class/method to apply'}
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>Application</li>
				<li>Community</li>
				<li>Content</li>
				<li>Media</li>
			</ul>
		</dd>
		<dt>class</dt>
		<dd>{i18n 'Class to apply'}</dd>
		<dt>method</dt>
		<dd>{i18n 'Class method to apply'}</dd>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>id</dt>
		<dd>{i18n 'ID of the data record to process'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/templating.templates.html#templating.templates.usage.load_more_data">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="select_simple_page" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'select_simple'} | <strong>page + id</strong></a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>ns</dt>
		<dd>{i18n 'Namespace of the class/method to apply'}
			<ul>
				<li>{i18n 'Allowed data'}:</li>
				<li>Application</li>
				<li>Community</li>
				<li>Content</li>
				<li>Media</li>
			</ul>
		</dd>
		<dt>class</dt>
		<dd>{i18n 'Class to apply'}</dd>
		<dt>method</dt>
		<dd>{i18n 'Class method to apply'}</dd>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>page</dt>
		<dd>{i18n 'Context page id'}</dd>
		<dt>id</dt>
		<dd>{i18n 'ID of the data record to process'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/templating.templates.html#templating.templates.usage.load_more_data">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="tag_cloud" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'tag_cloud'}</a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>limit</dt>
		<dd>{i18n 'Narrow the result set on given number'}</dd>
		<dt>range</dt>
		<dd>{i18n 'How many different tag emphase should be set?'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/usage.smarty_plugins.introduction.html">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="get_glossary" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'get_glossary'}</a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>action</dt>
		<dd>{i18n 'Wether to build the alphabetic link bar or the definition content list'}</dd>
		<dt>page</dt>
		<dd>{i18n 'Page id, nummeric value, e.g. $page.id'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/usage.smarty_plugins.introduction.html">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="breadcrumb" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'breadcrumb'}</a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>current_page</dt>
		<dd>{i18n 'Current page id, nummeric value, e.g. $page.id'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/usage.smarty_plugins.introduction.html">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="social_bookmarks" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'social_bookmarks'}</a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>var</dt>
		<dd>{i18n 'Free assignable variable name'}</dd>
		<dt>page</dt>
		<dd>{i18n 'Current page id, nummeric value, e.g. $page.id'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/usage.smarty_plugins.introduction.html">{i18n 'See documentation'}</a></p>
	</td>
</tr>
<tr>
<td class="initialNode"><a class="process_insert" id="include" name="smartyplugin" href="#" title="{i18n 'Insert plugin syntax'}">{i18n 'include'}</a></td>
<td class="description">
	<p>{i18n 'Parameter'}:</p>
	<dl>
		<dt>file</dt>
		<dd>{i18n 'Name of the template type with wcom resource prefix and trailed page id'}</dd>
	</dl>
	<p><a target="_blank" title="{i18n 'External link to welcompose online manual'}" href="http://dokumentation.welcompose.de/handbuch/templating.template_types.html#templating.template_types.usage.referencing_templates">{i18n 'See documentation'}</a></p>
	</td>
</tr>
</table>
</div>
<br class="clearb" />
</div>
</div>
</div>
</body>
</html>