<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Admin &ndash; Global Boxes &ndash; Create Reference to Global Box}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
 
<script type="text/javascript">
var form_target = '{$callback_params.form_target}';
var delimiter = '{$callback_params.delimiter}';
var text = '{$callback_params.text}';
var text_converter = '{$callback_params.text_converter}';
var pager_page = '{$callback_params.pager_page}';
var insert_type = '{$callback_params.insert_type}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script type="text/javascript" src="../static/libs/wcom.core.js"></script>
<script type="text/javascript" src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/libs/wcom.events.popup.js"></script>

</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">
<div id="modalContainer">
<div id="globalboxes">
<h2>{i18n GLOBAL BOXES} <span>{i18n CREATE REFERENCE}</span><span class="close"><a href="#">{i18n Close Window}</a></span></h2>

<div id="modalBody">
<div id="firstNode">
<table>
{foreach from=$global_boxes item=_box}
<tr>
<td class="initialNode"><a class="process_insert" id="{$_box.id}" name="globalbox" href="#" title="{i18n Insert link}">{$_box.name|escape:"htmlall"}</a></td>
</tr>
{/foreach}
</table>
</div>
<br class="clearb" />
</div>
</div>
</div>
</body>
</html>