<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Global Boxes &ndash; Create Reference to Global Box'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
 
<script type="text/javascript">
var form_target = '{$callback_params.form_target}';
var delimiter = '{$callback_params.delimiter}';
var text = '{$callback_params.text}';
var text_converter = '{$callback_params.text_converter}';
var pager_page = '{$callback_params.pager_page}';
var insert_type = '{$callback_params.insert_type}';
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.popup.js"></script>
</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">
<div id="modalContainer">
<div id="globalboxes">
<div id ="topic96">
<h2>{i18n 'GLOBAL BOXES'} <span>{i18n 'CREATE REFERENCE'}</span></h2>
<span class="close"><a href="#">{i18n 'Close Window'}</a></span>
</div>
<br class="clearb" />

<div id="modalBody">
<div id="firstNode">
<table>
{foreach from=$global_boxes item=_box}
<tr>
<td class="initialNode"><a class="process_insert" id="{$_box.id}" name="globalbox" href="#" title="{i18n 'Insert link'}">{$_box.name|escape:"html"}</a></td>
</tr>
{/foreach}
</table>
</div>
<br class="clearb" />
</div>
</div>
</div>
</body>
</html>