<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Admin &ndash; Global Files}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.forms.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />

<script type="text/javascript">
var response			= '{$session.response}';
var selection			= '{$session.selection}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script type="text/javascript" src="../static/libs/wcom.core.js"></script>
<script type="text/javascript" src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/libs/wcom.events.standard.js"></script>

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Welcompose}</p>
<!-- logo --></div>

<div id="logout"><a href="../logout.php" title="{i18n Logout}"></a></div>

{include file="_inc_topnav.html" area="templating"}

{include file="_inc_projects_load.html" go_back_area="templating" go_back_file="globalfiles_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="templating/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n Templating}</strong>: {i18n Global Files}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n Global Files}</h1>

<div class="secnav474_nav_x"><a href="globalfiles_add.php">{i18n Add new}</a></div>
<br class="clearb" />

{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="globalfiles_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{if !empty($global_files)}
<table summary="{i18n Available Templates}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="160" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="370" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="145" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="70" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="80" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="70" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="50" height="1" alt="" /></td>
</tr>
<tr>
<th class="template_name">{i18n Name} <span class="az"></span> <span class="za"></span></th>
<th class="">{i18n Description}  <span class="az"></span> <span class="za"></span></th>
<th class="">{i18n File is...}  <span class="az"></span> <span class="za"></span></th>
<th class="">{i18n Upload}</th>
<th class="">{i18n Download}</th>
<th>{i18n Edit}</th>
<th>{i18n Delete}</th>
</tr>
{foreach from=$global_files item=_global_file}
<tr>
<td>{$_global_file.name|escape:"htmlall"}</td>
<td>{$_global_file.description|escape:"htmlall"}</td>
<td>{if !empty($_global_file.name_on_disk)}{i18n available}{else}{i18n not available}{/if}</td>
<td><a class="upload showTableRow" href="#" id="e_{$_global_file.id}" title="{i18n Upload}"></a></td>
<td><a class="download" href="globalfiles_download.php?id={$_global_file.id|escape:"url"}" title="{i18n Download}"></a></td>
<td><a class="edit" href="globalfiles_edit.php?id={$_global_file.id|escape:"url"}" title="{i18n Edit}"></a></td>
<td><a class="delete confirmDelTplGlobalfile" href="globalfiles_delete.php?id={$_global_file.id|escape:"url"}" title="{i18n Delete}"></a></td>
</tr>
<tr id="o_{$_global_file.id}" class="outer">
<td colspan="7">
<div id="i_{$_global_file.id}" class="inner">
<form action="globalfiles_upload.php?id={$_global_file.id}" id="upload" method="post" enctype="multipart/form-data">
<fieldset>
<label class="cont" for="global_file_upload_{$_global_file.id}"><span class="bez">{i18n Upload} <span class="iHelp"><a href="#"><img src="../static/img/icons/help.gif" alt="Help" /></a></span></span> 
<input class="w400" type="file" id="global_file_upload_{$_global_file.id}" name="file" /></label>
<input type="submit" class="submit200" value="{i18n Upload Global File}" />
</fieldset>
</form>
</div>
</td>
</tr>
{/foreach}
</table>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="globalfiles_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n No global file has been created yet.}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>