<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Template Sets'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script>
</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p class="page"><a title="{i18n 'Edit user'}" href="../user/users_edit.php?id={$_wcom_current_user.id}">{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</a></p><p class="page"><a target="_blank" title="{i18n 'Public page, open in new window'}" href="../../index.php?project_name={$_wcom_current_project.name_url}">{i18n 'Public page'}</a></p></div>

<div id="logout"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="templating"}

{include file="_inc_projects_load.html" go_back_area="templating" go_back_file="templatesets_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="templating/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Templating'}</strong>: {i18n 'Template Sets'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n 'Template Sets'}</h1>

<div class="secnav474_nav_x"><a href="templatesets_add.php">{i18n 'Add new'}</a></div>
<br class="clearb" />

{if !empty($template_sets)}
<table summary="{i18n 'Available Template Sets'}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="320" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="525" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n 'Name'}</th>
<th>{i18n 'Description'}</th>
<th>{i18n 'Delete'}</th>
</tr>
{foreach from=$template_sets item=_template_set}
<tr>
<td class="page name"><a href="templatesets_edit.php?id={$_template_set.id|escape:"url"}" title="{i18n 'Edit'}">{$_template_set.name|escape:"html"}</a></td>
<td class="description">{$_template_set.description|escape:"html"}</td>
<td class="page"><a class="delete confirmDelTplSets" href="templatesets_delete.php?id={$_template_set.id|escape:"url"}" title="{i18n 'Delete entry'}"></a></td>
</tr>
{/foreach}
</table>
{else}
<p>{i18n 'No template set has been created yet.'}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>