<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Admin &ndash; Abbreviations'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.standard.js"></script></head>

<body>
<div id="container">

<div id="logo">
<p>{i18n 'Welcompose'}</p>
<!-- logo --></div>

<div id="loggedin"><p class="page"><a title="{i18n 'Edit user'}" href="../user/users_edit.php?id={$_wcom_current_user.id}">{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</a></p><p class="page"><a target="_blank" title="{i18n 'Public page, open in new window'}" href="../../index.php?project_name={$_wcom_current_project.name_url}">{i18n 'Public page'}</a></p></div>

<div id="logout" class="page"><a href="../logout.php" title="{i18n 'Logout'}"></a></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html" go_back_area="content" go_back_file="globalboxes_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="content/_inc_navigation.html"}

<div id="brc"><p><strong>{i18n 'Contents'}</strong>: {i18n 'Abbreviations'}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n 'Abbreviations'}</h1>

<div class="secnav474_nav_x"><a href="abbreviations_add.php">{i18n 'Add new'}</a></div>
<br class="clearb" />

{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="abbreviations_add_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
<br class="clearb" />
{/if}
{if !empty($abbreviations)}
<table summary="{i18n 'Available Abbreviations'}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="220" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="410" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n 'Abbreviation'}</th>
<th>{i18n 'Long form'}</th>
<th>{i18n 'View'}</th>
<th>{i18n 'Glossar Entry'}</th>
<th>{i18n 'Delete'}</th>
</tr>
{foreach from=$abbreviations item=_abbreviation}

<tr>
<td class="page"><a href="abbreviations_edit.php?id={$_abbreviation.id|escape:"url"}" title="{i18n 'Edit'}">{$_abbreviation.name|escape:"html"}</a></td>
<td>{$_abbreviation.long_form|escape:"html"|truncate:60}</td>
<td>{if $_abbreviation.long_form|count_characters > 60}<a class="comment showTableRow" href="#" id="e_{$_abbreviation.id}" title="{i18n 'View entire long form'}"></a>{/if}</td>
<td>{if !empty($_abbreviation.content)}{i18n 'yes'}{else}{i18n 'no'}{/if}</td>
<td class="page"><a class="delete confirmDelAbbreviation" href="abbreviations_delete.php?id={$_abbreviation.id|escape:"url"}" title="{i18n 'Delete entry'}"></a></td>
</tr>
<tr id="o_{$_abbreviation.id}" class="outer">
<td colspan="5">
<div id="i_{$_abbreviation.id}" class="inner">
<fieldset>
<h3>{i18n 'Full long form'}</h3>
{$_abbreviation.long_form|escape:html}
</fieldset>
</div>
</td>
</tr>
{/foreach}
</table>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n 'Pages:'} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="abbreviations_select.php?start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n 'No Abbreviation has been added yet'}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>