<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{i18n 'Welcompose Admin &ndash; Structural Templates &ndash; Insert'}</title>
<link rel="stylesheet" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />
<link rel="stylesheet" href="../static/styles/thirdparty/tooltips.css" media="screen, projection" />
 
<script type="text/javascript">
var form_target = '{$callback_params.form_target}';
var delimiter = '{$callback_params.delimiter}';
var text = '{$callback_params.text}';
var text_converter = '{$callback_params.text_converter}';
var pager_page = '{$callback_params.pager_page}';
var insert_type = '{$callback_params.insert_type}';
</script>

<script src="../static/libs/thirdparty/prototype.js"></script>
<script src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="../static/libs/thirdparty/behaviours.js"></script>
<script src="../static/libs/thirdparty/tooltips.js"></script>
<script src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script src="../static/libs/wcom.core.js"></script>
<script src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script src="../static/libs/wcom.events.popup.js"></script>
</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">

<div id="modalContainer">
<div id="structuraltemplates">
<div id ="topic96">
<h2>{i18n 'STRUCTURAL TEMPLATES'} <span>{i18n 'INSERT'}</span></h2>
<span class="close"><a href="#">{i18n 'Close Window'}</a></span>
</div>
<br class="clearb" />

<div id="modalBody">
<div id="firstNode">
<table>
{foreach from=$structural_templates item=_structural_template}
<tr>
<td class="initialNode page"><a class="process_insert" id="{$_structural_template.id}" name="structuraltemplate" href="#" title="{i18n 'Insert link'}">{$_structural_template.name|escape:"html"}</a></td>
<td>{$_structural_template.description|escape:"html"}</td>
</tr>
{/foreach}
</table>
</div>
<br class="clearb" />
</div>
</div>
</div>
</body>
</html>