<table>
<tr>
<td>{i18n 'Yearly Archives'}</td>
<td class="nextNode page"><a class="showNextNode" id="{$page_id|escape:"html"}" name="pages_links" href="#" title="{i18n 'Display archive links'}">&nbsp;</a></td>
</tr>
<tr>
<td colspan="2">{i18n 'Blog Postings'}</td>
</tr>
{foreach from=$blog_postings item=_blog_posting}
<tr>
<td class="initialNode page"><a class="process_insert" id="{$page_id}" name="blog_posting" href="#" title="{i18n 'Insert this link'}">{$_blog_posting.title|truncate:45:"...":true|escape:"html"}</a><span id="{$_blog_posting.id}"></span></td>
<td>&nbsp;</td>
</tr>
{/foreach}
</table>