<table>
<tr>
<td>{i18n Yearly Archives}</td>
<td class="nextNode"><a class="showNextNode" id="{$page_id|escape:"htmlall"}" name="pages_links" href="#" title="{i18n Display sub links}">&nbsp;</a></td>
</tr>
<tr>
<td colspan="2">{i18n Blog Postings}</td>
</tr>
{foreach from=$blog_postings item=_blog_posting}
<tr>
<td class="initialNode"><a class="process_insert" id="{$page_id}" name="blog_posting" href="#" title="{i18n Insert this link}">{$_blog_posting.title|truncate:25:"...":true|escape:"htmlall"}</a><span id="{$_blog_posting.id}"></span></td>
<td>&nbsp;</td>
</tr>
{/foreach}
</table>