<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Admin &ndash; Pages &#62; Generator Form Fields}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.navigation.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script type="text/javascript" src="../static/libs/wcom.core.js"></script>
<script type="text/javascript" src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/libs/wcom.events.standard.js"></script>

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Welcompose}</p>
<!-- logo --></div>

<div id="loggedin"><p>{i18n Logged in as user}:<br /><span>{if empty($_wcom_current_user.name)}{$_wcom_current_user.email}{else}{$_wcom_current_user.name}{/if}</span></p></div>

<div id="logout"><a href="../logout.php" title="{i18n Logout}"></a></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html" go_back_area="content" go_back_file="pages_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

{include file="content/_inc_navigation.html"}

<!-- topsubsubnavcon static -->
<div id="topsubsubnavconstatic">
<ul id="topsubsubnav">
	{if wcom_check_access('Content', 'Page', 'Manage')}
		<li><a href="pages_edit.php?id={$page.id|escape:"url"}">{i18n Metadata}<span></span></a></li>
	{/if}
	{if wcom_check_access('Content', 'GeneratorForm', 'Manage')}
		<li><a href="pages_content_edit.php?id={$page.id|escape:"url"}">{i18n Generator Form}<span></span></a></li>
	{/if}
	{if wcom_check_access('Content', 'GeneratorFormField', 'Manage')}
		<li class="on">{i18n Generator Form Fields}</li>
	{/if}
	{if wcom_check_access('Content', 'Box', 'Manage')}
		<li><a href="pages_boxes_select.php?page={$page.id|escape:"url"}">{i18n Boxes}<span></span></a></li>
	{/if}
</ul>
</div>
<!-- topsubsubnavcon static eof -->

<div id="brc"><p><strong>{i18n Contents}</strong>: <a href="pages_select.php">{i18n Pages}</a> &#62; {$page.name} : {i18n Generator Form Fields}<img src="../static/img/bc_right.gif" alt="" /></p></div>

<div id="content">

<h1>{i18n Generator Form Fields}</h1>

<div class="secnav474_nav_x"><a href="pages_generatorforms_fields_add.php?page={$page.id|escape:"url"}">{i18n Add new}</a></div>
<br class="clearb" />

<div class="filter clearfix">
<h2>{i18n Filter:}</h2>
<form action="pages_generatorforms_fields_select.php" method="get">
<fieldset>
<input type="hidden" name="page" value="{$page.id|escape:"html"}" />
<label for="limit">{i18n Show per page}</label> 
<select id="limit" name="limit">
<option value="20"{if empty($request.limit)} selected="selected"{/if}>20</option>
<option value="50"{if $request.limit == "50"} selected="selected"{/if}>50</option>
<option value="100"{if $request.limit == "100"} selected="selected"{/if}>100</option>
</select>

&nbsp;<input type="submit" class="submit90" value="{i18n Filter}" />
</fieldset>
</form>
<!-- filter --></div>

{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="pages_generatorforms_fields_select.php?page={$page.id|escape:"url"}&amp;start={$_item.self|escape:"url"}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}{if isset($request.macro)}&amp;macro={$request.macro}{/if}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
<br class="clearb" />
{/if}
{if !empty($form_fields)}
<table summary="{i18n Available Generator Form Fields}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="250" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="250" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="140" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="165" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="30" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n Name} &nbsp;<a title="{i18n Display by name descending}" class="down"  href="pages_generatorforms_fields_select.php?page={$page.id}&amp;macro=NAME:DESC{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}"></a> <a title="{i18n Display by name ascending}" class="up" href="pages_generatorforms_fields_select.php?page={$page.id}&amp;macro=NAME{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}"></a></th>
<th>{i18n Label}</th>
<th>{i18n Type} &nbsp;<a title="{i18n Display by type descending}" class="down" href="pages_generatorforms_fields_select.php?page={$page.id}&amp;macro=TYPE:DESC{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}"></a> <a title="{i18n Display by type ascending}" class="up" href="pages_generatorforms_fields_select.php?page={$page.id}&amp;macro=TYPE{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}"></a></th>
<th>{i18n Required}</th>
<th>{i18n Delete}</th>
</tr>
{foreach from=$form_fields item=_field}
<tr>
<td class="page"><a href="pages_generatorforms_fields_edit.php?page={$page.id|escape:"url"}&amp;id={$_field.id|escape:"url"}{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}{if isset($request.macro)}&amp;macro={$request.macro}{/if}" title="{i18n Edit}">{$_field.name|escape:"html"}</a></td>
<td>{$_field.label|escape:"html"}</td>
<td>{$_field.type|escape:"html"}</td>
<td>{if $_field.required == 0}{i18n No}{else}Yes{/if}</td>
<td><a class="delete" href="pages_generatorforms_fields_delete.php?page={$page.id|escape:"url"}&amp;id={$_field.id|escape:"url"}{if isset($request.start) && $request.start > 0}&amp;start={$request.start|escape:"url"}{/if}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}{if isset($request.macro)}&amp;macro={$request.macro}{/if}" title="{i18n Delete}"></a></td>
</tr>
{/foreach}
</table>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="pages_generatorforms_fields_select.php?page={$page.id|escape:"url"}&amp;start={$_item.self|escape:"url"}{if isset($request.limit) && $request.limit > 0}&amp;limit={$request.limit|escape:"url"}{/if}{if isset($request.macro)}&amp;macro={$request.macro}{/if}">{$_item.page}</a></li>  
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n No form field has been created yet.}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>