<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Admin &ndash; Pages &ndash; Internal Links}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.mediamanager.css" media="screen, projection" />

<script type="text/javascript">
var formTarget = '{$target}';
var control = '{$control}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script type="text/javascript" src="../static/libs/wcom.core.js"></script>
<script type="text/javascript" src="../static/libs/wcom.helper.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/libs/wcom.events.popup.js"></script>

</head>

<body id="modalWindow" onunload="Helper.closePopupTrackNoAlert()">

<div id="modalContainer">
<div id="pages">
<h2>{i18n PAGES} <span>{i18n INSERT INTERNAL LINKS}</span><span id="indicator_pagesLinks"><img src="../static/img/indicator.gif" alt="" width="25" height="25" /></span><span class="close"><a href"#">{i18n Close Window}</a></span></h2>

<div id="modalBody">
<div id="firstNode">
<table>
{foreach from=$navigations item=_navigation}
<tr>
<td colspan="2">{$_navigation.name|escape:"htmlall"}</td>
</tr>
{assign var="navigation_id" value=$_navigation.id}
{if count($page_arrays.$navigation_id) > 0}
{foreach from=$page_arrays.$navigation_id item=_page}
<tr>
<td class="initialNode"><a class="{if $_page.level == 2}level_2 {/if}{if $_page.level == 3}level_3 {/if}{if $_page.level == 4}level_4 {/if}{if !empty($control)}act_setInternalLink{$control}{else}act_setInternalLink{/if}" id="{literal}{{/literal}get_url page_id={$_page.id}{literal}}{/literal}" href="#" title="{i18n Insert link}">{$_page.name|truncate:20:"...":true|escape:"htmlall"}</a></td>
{if $_page.page_type_name == 'WCOM_BLOG'}
<td class="nextNode"><a class="showNextNode" id="{$_page.id}" href="#" title="{i18n Display sub links}">&nbsp;</a></td>
{else}
<td>&nbsp;</td>
{/if}
</tr>
{/foreach}
{/if}
{/foreach}
</table>
</div>
<div id="secondNode"></div>
<div id="thirdNode"></div>
<br class="clearb" />
</div>
</div>
</div>
</body>
</html>