<table>
<tr>
<td>{i18n Yearly Archives}</td>
<td class="nextNode"><a class="showNextNode" id="{$page_id|escape:"htmlall"}" href="#" title="{i18n Display sub links}">&nbsp;</a></td>
</tr>
<tr>
<td colspan="2">{i18n Blog Postings}</td>
</tr>
{foreach from=$blog_postings item=_blog_posting}
<tr>
<td class="initialNode"><a class="{if !empty($control)}act_setInternalLink{$control}{else}act_setInternalLink{/if}" id="{literal}{{/literal}get_url page_id={$page_id} action=Item posting_id={$_blog_posting.id}{literal}}{/literal}" href="#" title="{i18n Insert this link}">{$_blog_posting.title|truncate:25:"...":true|escape:"htmlall"}</a></td>
<td>&nbsp;</td>
</tr>
{/foreach}
</table>