<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Welcompose Setup &ndash; Error</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.setup.css" media="screen, projection" />
</head>

<body id="errormsg">
<div id="container">
<div id="header"> 
<div id="logo">
<p>Welcompose Setup</p>
<!-- logo --></div>
<!-- header --></div>

<div id="content">

<h1>An error occured!</h1>

<h2>Welcompose says: <span>{$message}</span></h2>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
