<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>Welcompose Setup &ndash Error</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.setup.css" media="screen, projection" />
</head>

<body id="errormsg">
<div id="container">
<div id="header"> 
<div id="logo">
<p>{i18n Welcompose Setup}</p>
<!-- logo --></div>
<!-- header --></div>

<div id="content">

<h1>{i18n An error occured}!</h1>

<h2>{i18n Welcompose says}: <span>{$message}</span></h2>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
