<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Setup'}</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.setup.css" media="screen, projection" />

<script src="static/libs/thirdparty/prototype.js"></script>
<script src="static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="static/libs/thirdparty/behaviours.js"></script>
<script src="parse/parse.js.php?file=wcom.setup.strings.js"></script>
<script src="static/libs/wcom.setup.core.js"></script>
<script src="static/libs/wcom.setup.helper.js"></script>
<script src="static/libs/wcom.setup.events.js"></script></head>

<body>
<div id="container">

<div id="header"> 

<div id="logo">
<p>{i18n 'Welcompose Setup'}</p>
<!-- logo --></div>

<div id="topnavcon">
<ul id="topnav">
<li class="one">{i18n 'License'}<span></span></li>
<li class="two">{i18n 'Requirements'}<span></span></li>
<li class="three">{i18n 'Database'}<span></span></li>
<li class="four">{i18n 'Configuration'}<span></span></li>
<li class="five on">{i18n 'Finish'}<span></span></li>
</ul>
<!-- topnavcon --></div>

<!-- header --></div>

<div id="content">

<h1>{i18n 'Setup completed'}</h1>
<p>{i18n 'You have successfully completed the setup procedure. Welcompose is now ready to run'}.</p>

<p>{i18n 'When you click on the button at the end of the page, you will be redirected to the admin interface'}.</p>

<p>{i18n 'Your login credentials'}:</p>
<p>{i18n 'Username'}: <strong>default@welcompose.local</strong><br/>
{i18n 'Password'}: <strong>default</strong></p>

<p>{i18n 'Please change your login credentials as soon as possible'}.<p>

<p>{i18n 'Now, the setup will try to automatically remove the entire setup directory. If it does not work, a warning will appear in the admin area that will advise you to do it by hand'}.</p>

<p>{i18n 'Thank you for choosing Welcompose'}.</p>

<div class="linkconfinish">
<a href="cleanup.php" class="submit240">{i18n 'Go to admin area'}</a>
</div>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
