<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Setup}</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.setup.css" media="screen, projection" />

<script type="text/javascript" src="static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="parse/parse.js.php?file=wcom.setup.strings.js"></script>
<script type="text/javascript" src="static/libs/wcom.setup.core.js"></script>
<script type="text/javascript" src="static/libs/wcom.setup.helper.js"></script>
<script type="text/javascript" src="static/libs/wcom.setup.events.js"></script>
<script type="text/javascript" src="static/libs/wcom.setup.validation.js"></script>

</head>

<body>
<div id="container">

<div id="header"> 

<div id="logo">
<p>{i18n Welcompose Setup}</p>
<!-- logo --></div>

<div id="topnavcon">
<ul id="topnav">
<li class="one">{i18n License}<span></span></li>
<li class="two on">{i18n Requirements}<span></span></li>
<li class="three">{i18n Database}<span></span></li>
<li class="four">{i18n Configuration}<span></span></li>
<li class="five">{i18n Finish}<span></span></li>
</ul>
<!-- topnavcon --></div>

<!-- header --></div>

<div id="content">

<h1>{i18n Requirements}</h1>
<p>{i18n Please make sure that your webspace meets all the requirements. If any errors or warnings occur, please consult the install manual how to fix it. There are instructions how to tell your webspace provider about it too}.</p>

<p>{i18n <strong>Attention</strong> Please note that we are only checking the capabilities of PHP here. This test does not check if your databse is new enough}.</p>

<form class="botbg">
{$form.javascript}

<fieldset class="topbg">

<h2>{i18n Checking for available extensions}</h2>
<table>
<tr>
<td class="extension">{i18n Extension}</td>
<td class="status">{i18n Status}</td>
</tr>
{foreach from=$extension_statuses key=_extension item=_status}
<tr>
<td>
{$_extension|escape:"htmlall"}
</td>
<td class="marker_{$_status.marker|escape:"htmlall"}">
{$_status.text|escape:"htmlall"}
</td>
</tr>
{/foreach}
</table>

<h2>{i18n Checking for up-to-date versions}</h2>
<table>
<tr>
<td class="software">{i18n Software}</td>
<td class="status">{i18n Status}</td>
</tr>
{foreach from=$software_statuses key=_software item=_status}
<tr>
<td>
{$_software|escape:"htmlall"}
</td>
<td class="marker_{$_status.marker|escape:"htmlall"}">
{$_status.text|escape:"htmlall"}
</td>
</tr>
{/foreach}
</table>

<table>
<tr>
<td class="status_indicator marker_error">{i18n Red}</td>
<td class="status_indicator_text">{i18n Welcompose won't work}</td>
</tr>
<tr>
<td class="status_indicator marker_warning">{i18n Orange}</td>
<td class="status_indicator_text">{i18n Welcompose may work - don't blame us for errors}</td>
</tr>
<tr>
<td class="status_indicator marker_fine">{i18n Green}</td>
<td class="status_indicator_text">{i18n Everything's fine}</td>
</tr>
</table>

{if $error_counter == 0}
<div class="linkcon">
<a href="database.php" class="submit240">{i18n Next step}</a>
</div>
{/if}

</fieldset>
</form>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
