<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="language" content="de" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta http-equiv="imagetoolbar" content="no" /> 
  <title>{i18n Oak Admin &ndash; Add Navigation}</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/admin.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="../static/styles/pagemanager.css" media="screen, projection" />
</head>

<body>
<div id="container">


<div id="logo">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<p>Oak</p>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- logo --></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html"}

<div id="main">

{include file="_inc_contents_topsubnav.html" subarea="navigations"}

<div id="brc"><p><a href="#">Contents</a> &#62; Navigations</p></div>

<div id="content">

<h1>{i18n Add Navigation}</h1>

<div class="overview"><a href="navigations_select.php">{i18n Navigations}</a></div>
<div class="hli_ov ef">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h2>&nbsp;</h2>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli_ov --></div>

{if !empty($form.errors)}
<div id="responseError">
<ul class="showRequired">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
</div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<label class="cont" for="name"><span>{$form.name.label}</span>
{$form.name.html}</label>

{$form.submit.html}

</fieldset>
</form>

<!-- content --></div>


<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>
