<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Add Navigation}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/pagemanager.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';
var selection = '{$session.selection}';
var form_attr = '{$form.attributes}';
</script>

<script type="text/javascript" src="../static/libs/prototype.js"></script>
<script type="text/javascript" src="../static/libs/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/behaviours.js"></script>
<script type="text/javascript" src="../static/libs/oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.xhr.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>
<script type="text/javascript" src="../static/libs/oak.validation.js"></script>
</head>

<body>
<div id="container">

<div id="logo">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<p>Oak</p>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- logo --></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

<!-- topnavcon static -->
<div id="topsubnavconstatic" class="f9">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<ul id="topsubnav">
<li><a href="pages_select.php">Pages<span></span></a></li>
<li><a class="on" href="navigations_select.php">Navigations<span></span></a></li>
<li><a href="pagetypes_select.php">Page Types<span></span></a></li>
</ul>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
</div>
<!-- topnavcon static eof -->

<div id="brc"><p><a href="#">Contents</a> &#62; <a href="navigations_select.php">Navigations</a> &#62; Add Navigation</p></div>

<div id="content">

<h1>{i18n Add Navigation}</h1>

<div class="overview"><a href="navigations_select.php">{i18n Navigations}</a></div>
<div class="hli_ov ef">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h2>&nbsp;</h2>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli_ov --></div>

{if !empty($form.errors)}
<div class="hli_bx d1">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli_bx --></div>
{/if}

{if $session.response == 1}
<div id="rp">
<div class="hli_rp d1">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b></b>
<h1>{i18n Your input was successfully saved!}</h1>
<p>{i18n To apply further input, please repeat fill in the form}</p>
<b class="xbottom"><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<!-- hli_rp --></div>
<!-- rp --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<label class="cont" for="name"><span class="bez">{$form.name.label}<span class="iHelp"><a href="#">(?)</a></span></span>
{$form.name.html}<span class="validate" id="name_container"></span></label>

{$form.submit.html}

</fieldset>
</form>

<!-- content --></div>


<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>
