<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Pages &ndash; Internal Links}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/oak.admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/oak.pagemanager.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';
var selection = '{$session.selection}';
var formTarget = '{$target}';

</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.helper.js"></script>
<script type="text/javascript" src="../static/libs/oak.mediamanager.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>

</head>

<body id="modalWindow">

<div id="modalContainer">
<h2>{i18n PAGES} <span>{i18n INSERT INTERNAL LINKS}</span><span id="indicator_pagesLinks"><img src="../static/img/indicator.gif" alt="" /></span><span class="close"><a href"#">{i18n Close Window}</a></span></h2>

<div id="modalBody">
	
<table id="firstNode">
{foreach from=$navigations item=_navigation}
<tr>
<td colspan="2">{$_navigation.name|escape:"htmlall"}</td>
</tr>
{assign var="navigation_id" value=$_navigation.id}
{if count($page_arrays.$navigation_id) > 0}
{foreach from=$page_arrays.$navigation_id item=_page}
<tr>
<td class="initialNode"><a class="act_setInternalLink" id="{literal}{{/literal}get_url page={$_page.id}{literal}}{/literal}" href="#" title="{i18n Insert link}">{$_page.name|escape:"htmlall"}</a></td>
{if $_page.page_type_name == 'OAK_BLOG'}
<td class="nextNode"><a class="showNextNode" id="{$_page.id}" href="#" title="{i18n Display sub links}">&nbsp;</a></td>
{else}
<td>&nbsp;</td>
{/if}
</tr>
{/foreach}
{/if}
{/foreach}
</table>

<table id="secondNode">
</table>

<table id="thirdNode">
</table>
<br class="clearb" />

</div>
</div>
</body>
</html>