<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Pages}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/oak.admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/oak.pagemanager.css" media="screen, projection" />
  
<script type="text/javascript">
var response = '{$session.response}';
var selection = '{$session.selection}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>
<script type="text/javascript" src="../static/libs/oak.validation.js"></script>

<!--[if IE]>
<script type="text/javascript" src="../static/libs/oak.core.ie.js"></script>
<![endif]-->

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Oak}</p>
<!-- logo --></div>

<div id="logout"><a href="#">Logout</a></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html" go_back_area="content" go_back_file="pages_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

<!-- topsubnavcon static -->
<div id="topsubnavconstatic">
<ul id="topsubnav">
<li class="on">{i18n Pages}</li>
<li><a href="globalboxes_select.php">{i18n Global Boxes}<span></span></a></li>
<li><a href="navigations_select.php">{i18n Navigations}<span></span></a></li>
<li><a href="pagetypes_select.php">{i18n Page Types}<span></span></a></li>
</ul>
</div>
<!-- topsubnavcon static eof -->

<div id="brc"><p>{i18n CONTENTS}: {i18n Pages}</p></div>

<div id="content">
<h1>{i18n Pages}</h1>

{if empty($navigations)}
<p>No navigation and no page has been created yet. Please create a <a href="navigations_select.php">navigation</a> first.</p>
{else}

{if $index_page_count < 1}
<p>{i18n Define one index page. If don't do that, your webpage won't be usable.}</p>
{elseif $index_page_count > 1}
<p>{i18n You defined more than one index page. Please reduce the amount of index pages to one.}</p>
{/if}

{foreach from=$navigations item=_navigation}
<div class="secnav474_nonav_c"></div>

<div class="hli">
<h2>{$_navigation.name|escape:"htmlall"}</h2>
<!-- hli --></div>

<table summary="{i18n Page structure}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="485" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="32" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="52" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="75" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="75" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="80" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="45" height="1" alt="" /></td>
</tr>
<tr>
<th class="page">{i18n Page structure}</th>
<th colspan="2">{i18n Move}</th>
<th>{i18n Add}</th>
<th>{i18n Edit}</th>
<th>{i18n Move away}</th>
<th>{i18n Delete}</th>
</tr>
{assign var="navigation_id" value=$_navigation.id}
{if count($page_arrays.$navigation_id) > 0}
{foreach from=$page_arrays.$navigation_id item=_page}
<tr>
<td class="page{if $_page.level > 1 && $_page.level < 6}{$_page.level|escape:htmlall}{elseif $_page.level >= 6}6{/if}">{$_page.name|escape:"htmlall"} ((id){$_page.id}, (rn){$_page.root_node}, (p){$_page.parent}, <span style="color: red;">(lft){$_page.lft}, (rgt){$_page.rgt}</span>, (lvl){$_page.level}, (s){$_page.sorting})</td>
<td><a class="down" href="pages_move.php?id={$_page.id|escape:"url"}&amp;direction=down" title="Down"></a></td>
<td><a class="up" href="pages_move.php?id={$_page.id|escape:"url"}&amp;direction=up" title="Up"></td>
<td><a class="new" href="pages_add.php?navigation={$_navigation.id|escape:"url"}&amp;reference={$_page.id|escape:"url"}" title="{i18n Add new page}"></a></td>
<td><a class="edit" href="pages_content_edit.php?id={$_page.id|escape:"url"}" title="Edit page contents"></a></td>
<td><a class="move" href="pages_move_away.php?id={$_page.id|escape:"url"}" title="Move page to another navigation"></a></td>
<td><a class="delete" href="pages_delete.php?id={$_page.id|escape:"url"}" title="Delete page"></a></td>
</tr>
{/foreach}
{else}
<tr>
<td class="page">{i18n No page has been created yet}</td>
<td></td>
<td></td>
<td><a class="new" href="pages_add.php?navigation={$_navigation.id|escape:"url"}" title="{i18n Add new page}"></a></td>
<td></td>
<td></td>
<td></td>
</tr>
{/if}
</table>
{/foreach}
{/if}
<!-- content --></div>

<!-- main --></div>
{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>