{foreach from=$yearly_archives item=_year}
<tr>
<td class="initialNode"><a class="act_setInternalLink" id="{literal}{{/literal}get_url page_id={$page_id} action=ArchiveYear posting_year_added={$_year.year}{literal}}{/literal}" href="#" title="{i18n Insert this link}">{$_year.year}</a></td>
<td>&nbsp;</td>
</tr>
{foreach from=$monthly_archives item=_month}
{if $_month.year == $_year.year}
<tr>
<td class="initialNode"><a class="act_setInternalLink" id="{literal}{{/literal}get_url page_id={$page_id} action=ArchiveMonth posting_year_added={$_month.year} posting_month_added={$_month.month}{literal}}{/literal}" href="#" title="{i18n Insert this link}">{$_month.timestamp|date_format:"%B %Y"}</a></td>
<td>&nbsp;</td>
</tr>
{/if}
{/foreach}
{/foreach}