<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Pages &#62; Ping Service Configurations}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/oak.admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/oak.pagemanager.css" media="screen, projection" />

<script type="text/javascript">
var response			= '{$session.response}';
var selection			= '{$session.selection}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.helper.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>
<script type="text/javascript" src="../static/libs/oak.validation.js"></script>

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Oak}</p>
<!-- logo --></div>

<div id="logout"><a href="../logout.php">{i18n Logout}</a></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html" go_back_area="content" go_back_file="pages_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

<!-- topsubnavcon static -->
<div id="topsubnavconstatic">
<ul id="topsubnav">
<li><a class="on" href="pages_select.php">{i18n Pages}<span></span></a></li>
<li><a href="globalboxes_select.php">{i18n Global Boxes}<span></span></a></li>
<li><a href="navigations_select.php">{i18n Navigations}<span></span></a></li>
<li><a href="pagetypes_select.php">{i18n Page Types}<span></span></a></li>
</ul>
</div>
<!-- topsubnavcon static eof -->

<!-- topsubsubnavcon static -->
<div id="topsubsubnavconstatic">
<ul id="topsubsubnav">
<li><a href="pages_edit.php?id={$page.id|escape:"url"}">{i18n Metadata}<span></span></a></li>
<li><a href="pages_blogs_postings_select.php?page={$page.id|escape:"url"}">{i18n Blog Postings}<span></span></a></li>
<li><a href="boxes_select.php?page={$page.id|escape:"url"}">{i18n Boxes}<span></span></a></li>
<li class="on">{i18n Ping Services}</li>
<li class="current">{i18n Page}: <span class="choosed">{$page.name}</span></li>
</ul>
</div>
<!-- topsubsubnavcon static eof -->

<div id="brc"><p>{i18n CONTENTS}: <a href="pages_select.php">{i18n Pages}</a> &#62; {i18n Ping Services}</p></div>

<div id="content">

<h1>{i18n Ping Services}</h1>

<div class="secnav474_nav_x"><a href="pages_blogs_pingserviceconfigurations_add.php?page={$page.id|escape:"url"}">{i18n Add new}</a></div>
<br class="clearb" />

{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="pages_blogs_pingserviceconfigurations_select.php?page={$page.id|escape:"url"}&amp;start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{if !empty($ping_service_configurations)}
<table summary="{i18n Available Blog Postings}">
<tr>
<td class="mini"><img src="../static/img/spacer.gif" width="238" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="238" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="238" height="5" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="90" height="1" alt="" /></td>
<td class="mini"><img src="../static/img/spacer.gif" width="40" height="1" alt="" /></td>
</tr>
<tr>
<th class="template_name">{i18n Ping Service Name} <span class="az"></span> <span class="za"></span></th>
<th class="template_name">{i18n Site Name} <span class="az"></span> <span class="za"></span></th>
<th class="template_name">{i18n Site URL} <span class="az"></span> <span class="za"></span></th>
<th>{i18n Edit}</th>
<th>{i18n Delete}</th>
</tr>
{foreach from=$ping_service_configurations item=_configuration}
<tr>
<td>{$_configuration.ping_service_name|escape:"htmlall"}</td>
<td>{$_configuration.site_name|escape:"htmlall"}</td>
<td>{$_configuration.site_url|escape:"htmlall"}</td>
<td><a class="edit" href="pages_blogs_pingserviceconfigurations_edit.php?page={$page.id|escape:"url"}&amp;id={$_configuration.id|escape:"url"}" title="{i18n Edit}"></a></td>
<td><a class="delete" href="pages_blogs_pingserviceconfigurations_delete.php?page={$page.id|escape:"url"}&amp;id={$_configuration.id|escape:"url"}" title="{i18n Delete}"></a></td>
</tr>
{/foreach}
</table>
{if count($page_index) > 1}
<h3 class="pagenav">{i18n Pages:} </h3> 
<ul class="pagenav"> 
{foreach from=$page_index item=_item}
{if $_item.self == $request.start}
<li class="on">{$_item.page}</a></li>
{else}
<li><a href="pages_blogs_pingserviceconfigurations_select.php?page={$page.id|escape:"url"}&amp;start={$_item.self|escape:"url"}">{$_item.page}</a></li> 
{/if}
{/foreach}
</ul>
{/if}
{else}
<p>{i18n No ping service has been configured yet.}</p>
{/if}

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>