<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Oak Admin &ndash; Pages &#62; Edit Ping Service}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/oak.admin.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/oak.pagemanager.css" media="screen, projection" />
 
<script type="text/javascript">
var response = '{$session.response}';
var selection = '{$session.selection}';
</script>

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse.js.php?file=oak.strings.js"></script>
<script type="text/javascript" src="../static/libs/oak.core.js"></script>
<script type="text/javascript" src="../static/libs/oak.events.js"></script>
<script type="text/javascript" src="../static/libs/oak.validation.js"></script>

<!--[if IE]>
<script type="text/javascript" src="../static/libs/oak.core.ie.js"></script>
<![endif]-->

</head>

<body>
<div id="container">

<div id="logo">
<p>{i18n Oak}</p>
<!-- logo --></div>

{include file="_inc_topnav.html" area="contents"}

{include file="_inc_projects_load.html" go_back_area="content" go_back_file="pages_select.php"}

<div id="main">

<!-- topnavcon dynamic -->
<div id="ly1"></div>
<!-- topnavcon dynamic eof -->

<!-- topsubnavcon static -->
<div id="topsubnavconstatic">
<ul id="topsubnav">
<li><a class="on" href="pages_select.php">{i18n Pages}<span></span></a></li>
<li><a href="navigations_select.php">{i18n Navigations}<span></span></a></li>
<li><a href="pagetypes_select.php">{i18n Page Types}<span></span></a></li>
</ul>
</div>
<!-- topsubnavcon static eof -->

<!-- topsubsubnavcon static -->
<div id="topsubsubnavconstatic">
<ul id="topsubsubnav">
<li><a href="pages_edit.php?id={$page.id|escape:"url"}">{i18n Metadata}<span></span></a></li>
<li><a href="pages_blogs_postings_select.php?page={$page.id|escape:"url"}">{i18n Blog Postings}<span></span></a></li>
<li><a href="boxes_select.php?page={$page.id|escape:"url"}">{i18n Boxes}<span></span></a></li>
<li><a href="pages_blogs_pingserviceconfigurations_select.php?page={$page.id|escape:"url"}" class="on">{i18n Ping Services}<span></span></a></li>
</ul>
</div>
<!-- topsubsubnavcon static eof -->

<div id="brc"><p>{i18n CONTENTS}: <a href="pages_select.php">{i18n Pages}</a> &#62;
	<a href="pages_blogs_pingserviceconfigurations_select.php?page={$page.id|escape:"url"}">{i18n Ping Services}</a> &#62;
	{i18n Edit Ping Service}</p></div>

<div id="content">

<h1>{i18n Edit Ping Service}</h1>

<div class="secnav710_nav_x"><a href="pages_blogs_pingserviceconfigurations_select.php?page={$page.id|escape:"url"}">{i18n Ping Services}</a></div>
<br class="clearb" />

{if !empty($form.errors)}
<div id="error">
<ul class="req">
{foreach from=$form.errors item="error"}
	<li>{$error}</li>
{/foreach}
</ul>
<!-- error --></div>
{/if}

{if $session.response == 1}
<div id="rp">
<h1>{i18n Your input was successfully saved!}</h1>
<p>{i18n To apply further input, please repeat fill in the form}</p>
<!-- rp --></div>
{/if}

<form class="botbg"{$form.attributes}>
{$form.javascript}

<fieldset class="topbg">

{$form.hidden}

<label class="cont" for="ping_service_configuration_ping_service"><span class="bez">{$form.ping_service.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.ping_service.html}</label>

<label class="cont" for="ping_service_configuration_site_name"><span class="bez">{$form.site_name.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.site_name.html}</label>

<label class="cont" for="ping_service_configuration_site_url"><span class="bez">{$form.site_url.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.site_url.html}<span class="validate" id="ping_service_configuration_site_url_container"></span></label>

<label class="cont" for="ping_service_configuration_site_index"><span class="bez">{$form.site_index.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.site_index.html}<span class="validate" id="ping_service_configuration_site_index_container"></span></label>

<label class="cont" for="ping_service_configuration_site_feed"><span class="bez">{$form.site_feed.label}<span class="iHelp"><a href="#" title="{i18n Show help on this topic}"><img src="../static/img/icons/help.gif" alt="" /></a></span></span>
{$form.site_feed.html}<span class="validate" id="ping_service_configuration_site_feed_container"></span></label>

{$form.submit.html}

</fieldset>
</form>

<!-- content --></div>


<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>
