<div id="topnavcon">
<ul id="topnav">
<li class="one{if $on == 'license'} on{/if}">{i18n License}<span>&nbsp;</span></li>
<li class="two{if $on == 'requirements'} on{/if}">{i18n Requirements}<span>&nbsp;</span></li>
<li class="three{if $on == 'backup'} on{/if}">{i18n Backup}<span>&nbsp;</span></li>
<li class="four{if $on == 'database'} on{/if}">{i18n Database}<span>&nbsp;</span></li>
<li class="five{if $on == 'finish'} on{/if}">{i18n Finish}<span>&nbsp;</span></li>
</ul>
<!-- topnavcon --></div>