<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Update}</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.update.css" media="screen, projection" />

<script type="text/javascript" src="static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="static/libs/thirdparty/scriptaculous.js"></script>
<script type="text/javascript" src="static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="parse/parse.js.php?file=wcom.update.strings.js"></script>
<script type="text/javascript" src="static/libs/wcom.update.core.js"></script>
<script type="text/javascript" src="static/libs/wcom.update.helper.js"></script>
<script type="text/javascript" src="static/libs/wcom.update.events.js"></script>
<script type="text/javascript" src="static/libs/wcom.update.validation.js"></script>

</head>

<body>
<div id="container">

<div id="header"> 

<div id="logo">
<p>{i18n Welcompose Update}</p>
<!-- logo --></div>

{include file="_inc_navigation.html" on="backup"}

<!-- header --></div>

<div id="content">

<h1>{i18n Backup}</h1>

<p>{i18n Before continuing the update process, we <strong>strongly</strong> recommend to perform a <strong>backup of your database</strong>. This can be easily done with third-party applications like phpMyAdmin. If you don't know how to perform a backup, the upgrading guide in the Welcompose manual will help you}.</p>

<p>{i18n Second, we recommend to take a <strong>copy of the whole Welcompose installation</strong>. That may help you doing restores if something goes wrong during the update process (like a server crash)}.</p>

<div class="linkconbackup">
<a href="database.php" class="submit240">{i18n I created a backup}</a>
</div>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
