<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Update'}</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.update.css" media="screen, projection" />

<script src="static/libs/thirdparty/prototype.js"></script>
<script src="static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="static/libs/thirdparty/behaviours.js"></script>
<script src="parse/parse.js.php?file=wcom.update.strings.js"></script>
<script src="static/libs/wcom.update.core.js"></script>
<script src="static/libs/wcom.update.helper.js"></script>
<script src="static/libs/wcom.update.events.js"></script>

<body>
<div id="container">

<div id="header"> 

<div id="logo">
<p>{i18n 'Welcompose Update'}</p>
<!-- logo --></div>

{include file="_inc_navigation.html" on="finish"}

<!-- header --></div>

<div id="content">

<h1>{i18n 'Update finished'}</h1>

<p>{i18n 'You have successfully performed the Welcompose update. Now you can go back to the admin area and start using our improved software'}.</p>

<p>{i18n 'As the update procedure isn&#39;t fully automated yet, <strong>you are strongly advised to delete the entire update directory from your webspace</strong>'}.</p>

<div class="linkconbackup">
<a href="../admin/" class="submit240">{i18n 'Take me to the admin area'}</a>
</div>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
