<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{i18n 'Welcompose Update'}</title>
<link rel="stylesheet" type="text/css" href="static/styles/wcom.update.css" media="screen, projection" />

<script src="static/libs/thirdparty/prototype.js"></script>
<script src="static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script src="static/libs/thirdparty/behaviours.js"></script>
<script src="parse/parse.js.php?file=wcom.update.strings.js"></script>
<script src="static/libs/wcom.update.core.js"></script>
<script src="static/libs/wcom.update.helper.js"></script>
<script src="static/libs/wcom.update.events.js"></script>

<body>
<div id="container">

<div id="header"> 

<div id="logo">
<p>{i18n 'Welcompose Update'}</p>
<!-- logo --></div>

{include file="_inc_navigation.html" on="requirements"}

<!-- header --></div>

<div id="content">

<h1>{i18n 'Requirements'}</h1>
<p>{i18n 'Please make sure that your webspace meets all the requirements. If any errors or warnings occur, please consult the install manual how to fix it. There are instructions how to tell your webspace provider about it too'}.</p>

<p>{i18n '<strong>Attention</strong> Please note that we are only checking the capabilities of PHP here. This test does not check if your databse is new enough'}.</p>

<form class="botbg">	
<fieldset class="topbg">
	
<h2>{i18n 'Checking for available extensions'}</h2>
<table>
<tr>
<td class="extension">{i18n 'Extension'}</td>
<td class="status">{i18n 'Status'}</td>
</tr>
{foreach from=$extension_statuses key=_extension item=_status}
<tr>
<td>
{$_extension|escape:"html"}
</td>
<td class="marker_{$_status.marker|escape:"html"}">
{$_status.text|escape:"html"}
</td>
</tr>
{/foreach}
</table>

<h2>{i18n 'Checking for up-to-date versions'}</h2>
<table>
<tr>
<td class="software">{i18n 'Software'}</td>
<td class="status">{i18n 'Status'}</td>
</tr>
{foreach from=$software_statuses key=_software item=_status}
<tr>
<td>
{$_software|escape:"html"}
</td>
<td class="marker_{$_status.marker|escape:"html"}">
{$_status.text|escape:"html"}
</td>
</tr>
{/foreach}
</table>

<table>
<tr>
<td class="status_indicator marker_error">{i18n 'Red'}</td>
<td class="status_indicator_text">{i18n 'Welcompose won&#39;t work'}</td>
</tr>
<tr>
<td class="status_indicator marker_warning">{i18n 'Orange'}</td>
<td class="status_indicator_text">{i18n 'Welcompose may work -- don&#39;t blame us for errors'}</td>
</tr>
<tr>
<td class="status_indicator marker_fine">{i18n 'Green'}</td>
<td class="status_indicator_text">{i18n 'Everything&#39;s fine'}</td>
</tr>
</table>

{if $error_counter == 0}
<div class="linkcon">
<a href="backup.php" class="submit240">{i18n 'Next step'}</a>
</div>
{/if}

</fieldset>
</form>

<!-- content --></div>

{include file="_inc_footer.html"}
<!-- container --></div>
</body>
</html>
