* {
margin: 0;
padding: 0;
}
html, body, fieldset, a img {
border: 0 none;
}
body {
font: 95% Arial, Helvetica, sans-serif;
color: #333;
background: #d9d9d9 url(../img/bg_body.gif); 
padding: 16px 0 16px 0;
text-align: center;
}

h1 {
font-size: 1.5em;
font-weight: normal;
color: #0c3;
margin: 10px 0 15px 10px;
}
h2, p, a, li, th, td, select, label, input {
font-size: 0.80em;
}
p a, li a, th a, td a, label select, label input, label p, label span span a {
font-size: 100%;
} 
a {
text-decoration: none;
}
a:link, a:visited {
color: #00AE2C;
background: transparent;
}
a:hover {
color: #00AE2C;
background: transparent;
text-decoration: underline;
}
a:active, a:focus {
color: #fff;
background: #0c3;
}
#container {
position: relative;
width: 986px;
background: #fff url(../img/bg_header.gif) 0 0 no-repeat;
margin: 0 auto;
text-align: left;
}
#container p.copyright {
width: 971px;
background: transparent url(../img/bg_container_bottom.gif) 0 20px no-repeat;
padding: 20px 15px 5px 0;
margin: 0;
text-align: right;
}

/* LOGO START */
#logo {
position: absolute;
top: 19px;
left: 767px;
width: 200px;
background: transparent; 
}
#logo p {
font-weight: bold;
color: #fff;
background: #0c3;
padding-left: 7px;
}
#logo .xtop, 
#logo .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
#logo .xb1, #logo .xb2, #logo .xb3 {
display: block; 
overflow: hidden;
}
#logo .xb1, #logo .xb2, #logo .xb3 {
height: 1px;
}
#logo .xb2, 
#logo .xb3 {
background: #0c3; 
}
#logo .xb1 {
margin: 0 3px; 
background: #0c3;
}
#logo .xb2 {
margin: 0 2px; 
}
#logo .xb3 {
margin: 0 1px;
}
/* LOGO EOF */

/* MAIN START */
#main {
margin: 0 15px 0 15px;
padding-top: 100px;
}
#content {
margin: 20px 0;
}
#content p {
margin: 10px 0 10px 10px;
}
/* MAIN EOF */

/* TOPNAVIGATION START */
#topnavcon {
position: absolute;
top: 99px;
left: 14px;
width: 956px;
}
#topnav {
list-style: none;
width: 956px;
background: #efefef;
height: 1.5em;
}
#topnav li {
display: inline;
}
#topnav li a {
position: relative;
display: block;
float: left;
text-transform: uppercase;
font-weight: bold;
padding: 4px 45px 3px 10px;
}
#topnav a:link, #topnav a:visited {
color: #000;
background: transparent;
}
#topnav a:hover, #topnav a:active, #topnav a:focus {
color: #00AE2C;
background: transparent;
text-decoration: none;
}
#topnav .con span, #topnav .conon span {
position: absolute;
top: -67px;
left: 14px;
display: block;
width: 66px;
height: 72px;
background: transparent url(../img/icons/contents.gif) 0 0 no-repeat;
}
#topnav .con:hover span, #topnav .con:active span, #topnav .con:focus span, #topnav .conon span {
background: transparent url(../img/icons/contents.gif) 0 -125px no-repeat;
}
#topnav .med span, #topnav .medon span {
position: absolute;
top: -70px;
left: 28px;
display: block;
width: 94px;
height: 65px;
background: transparent url(../img/icons/media.gif) 0 0 no-repeat;
}
#topnav .med:hover span, #topnav .med:active span, #topnav .med:focus span, #topnav .medon span {
background: transparent url(../img/icons/media.gif) 0 -123px no-repeat;
}
#topnav .com span, #topnav .comon span {
position: absolute;
top: -72px;
left: 15px;
display: block;
width: 60px;
height: 72px;
background: transparent url(../img/icons/community.gif) 0 0 no-repeat;
}
#topnav .com:hover span, #topnav .com:active span, #topnav .com:focus span, #topnav .comon span {
background: transparent url(../img/icons/community.gif) 0 -122px no-repeat;
}
#topnav .usr span, #topnav .usron span {
position: absolute;
top: -71px;
left: 2px;
display: block;
width: 60px;
height: 72px;
background: transparent url(../img/icons/users.gif) 0 0 no-repeat;
}
#topnav .usr:hover span, #topnav .usr:active span, #topnav .usr:focus span, #topnav .usron span {
background: transparent url(../img/icons/users.gif) 0 -122px no-repeat;
}
#topnav .tem span, #topnav .temon span {
position: absolute;
top: -70px;
left: 2px;
display: block;
width: 94px;
height: 65px;
background: transparent url(../img/icons/templating.gif) 0 0 no-repeat;
}
#topnav .tem:hover span, #topnav .tem:active span, #topnav .tem:focus span, #topnav .temon span {
background: transparent url(../img/icons/templating.gif) 0 -123px no-repeat;
}
#topnav .set span, #topnav .seton span {
position: absolute;
top: -69px;
left: 7px;
display: block;
width: 60px;
height: 60px;
background: transparent url(../img/icons/settings.gif) 0 0 no-repeat;
}
#topnav .set:hover span, #topnav .set:active span, #topnav .set:focus span, #topnav .seton span {
background: transparent url(../img/icons/settings.gif) 0 -125px no-repeat;
}
/* TOPNAVIGATION EOF */

/* SEARCH START */
#projects {
position: absolute;
top: 103px;
right: 20px;
width: 17em;
text-align: right;
}
input.submitbut90 {
text-align: left;
background: #666 url(../img/submitbut.gif) 100% 0 no-repeat;
color: #fff;
width: 90px;
height: 20px;
font-size: 80%;
border: 0 none;
padding: 0 0 0 5px;
}
#projects .fselect {
margin: 1px 5px 0 0;
padding: 0;
font-size: 80%;
border: 1px solid #666666;
}
/* SEARCH STOP */


/* TOPSUBNAVIGATION START */
#topsubnavcon {
width: 956px;
padding-top: 2em;
}
#topsubnav {
list-style: none;
width: 956px;
background: #f9f9f9;
height: 1.25em;
}
#topsubnav li {
display: inline;
}
#topsubnav li a {
position: relative;
display: block;
float: left;
font-weight: normal;
padding: 2px 25px 2px 27px;
}
#topsubnav a:link, #topsubnav a:visited {
color: #000;
background: transparent url(../img/icons/link.gif) 10px -2px no-repeat;
}
#topsubnav a:hover, #topsubnav a:active, #topsubnav a:focus, 
#topsubnav a:link.on, #topsubnav a:visited.on {
color: #00AE2C;
background: transparent url(../img/icons/link.gif) 10px -44px no-repeat;
text-decoration: none;
}
#topsubnav li.on {
position: relative;
display: block;
float: left;
font-weight: normal;
padding: 2px 25px 2px 27px;
color: #00AE2C;
background: transparent url(../img/icons/link.gif) 10px -44px no-repeat;
text-decoration: none;
}
/* TOPSUBNAVIGATION EOF */

/* TOPSUBNAVIGATION STATIC START */
#topsubnavconstatic {
width: 956px;
padding-top: 2em;
}
/* TOPSUBNAVIGATION STATIC EOF*/

/* BREADCRUMB START */
#brc {
width: 852px;
margin: 10px 0 20px 0;
color: #000;
background: transparent url(../img/bc_right.gif) 100% 5px no-repeat;
}
#brc p {
margin: 5px 0;
padding: 2px 0 8px 8px;
background: transparent url(../img/bc_left.gif) 2px 0 no-repeat;
}
/* BREADCRUMB EOF */

/* HEADLINE START */
.hli {
display: block;
width: 474px;
}
.hli h2 {
background: #efefef;
width: 474px;
wid\th: 464px;
padding: 1px 0 1px 10px;
}
.hli_bx {
display: block;
width: 710px;
margin-top: 20px;
}
.hli_rp {
display: block;
width: 710px;
margin-top: 20px;
}
/* HEADLINE ON RIGHT BESIDES CONTENT */
.secnav474_nonav_c {
float: right;
width: 474px;
height: 22px;
background: transparent url(../img/bg_secnav474_nonav_c.gif) 0 0 no-repeat;
}
/* HEADLINE LONG NO CONTENT BUT NAV ON RIGHT SIDE */
.secnav710_nav_x {
float: right;
width: 956px;
height: 22px;
background: transparent url(../img/bg_secnav710_nav_x.gif) 0 0 no-repeat;
}
/* HEADLINE SHORT NO CONTENT BU NAV ON RIGHT SIDE */
.secnav474_nav_x {
float: right;
width: 956px;
height: 22px;
background: transparent url(../img/bg_secnav474_nav_x.gif) 0 0 no-repeat;
}
.secnav710_nav_x a:link, .secnav710_nav_x a:visited, 
.secnav474_nav_x a:link, .secnav474_nav_x a:visited {
margin: 0 0 0 110px;
line-height: 22px;
font-weight: bold;
margin-left: 725px;
padding-left: 25px;
background: transparent url(../img/icons/overview.gif) 0 0 no-repeat;
}
.secnav710_nav_x a:hover, .secnav710_nav_x a:active, .secnav710_nav_x a:focus, 
.secnav474_nav_x a:hover, .secnav474_nav_x a:active, .secnav474_nav_x a:focus {
color: #00AE2C;
background: transparent url(../img/icons/overview.gif) 0 -42px no-repeat;
}
/* HEADLINE EOF */

/* BOXES Start */
/* BOX MIT ABGERUNDETEN ECKEN #EFEFEF */
.ef {
background: transparent; 
}
.ef .xtop, 
.ef .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
.ef .xb1, .ef .xb2, .ef .xb3 {
display: block; 
overflow: hidden;
}
.ef .xb1, .ef .xb2, .ef .xb3 {
height: 1px;
}
.ef .xb2, 
.ef .xb3 {
background: #efefef; 
}
.ef .xb1 {
margin: 0 3px; 
background: #efefef;
}
.ef .xb2 {
margin: 0 2px; 
}
.ef .xb3 {
margin: 0 1px;
}
/* ENDE BOX MIT ABGERUNDETEN ECKEN #EFEFEF */
/* BOX MIT ABGERUNDETEN ECKEN #F9F9F9 */
.f9 {
background: transparent; 
}
.f9 .xtop, 
.f9 .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
.f9 .xb1, .f9 .xb2, .f9 .xb3 {
display: block; 
overflow: hidden;
}
.f9 .xb1, .f9 .xb2, .f9 .xb3 {
height: 1px;
}
.f9 .xb2, 
.f9 .xb3 {
background: #f9f9f9; 
}
.f9 .xb1 {
margin: 0 3px; 
background: #f9f9f9;
}
.f9 .xb2 {
margin: 0 2px; 
}
.f9 .xb3 {
margin: 0 1px;
}
/* ENDE BOX MIT ABGERUNDETEN ECKEN #F9F9F9 */
/* BOX MIT ABGERUNDETEN ECKEN #D1E1F0 */
.d1 {
background: transparent; 
}
.d1 .xtop, 
.d1 .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
.d1 .xb1, .d1 .xb2, .d1 .xb3 {
display: block; 
overflow: hidden;
}
.d1 .xb1, .d1 .xb2, .d1 .xb3 {
height: 1px;
}
.d1 .xb2, 
.d1 .xb3 {
background: #d1e1f0; 
}
.d1 .xb1 {
margin: 0 3px; 
background: #d1e1f0;
}
.d1 .xb2 {
margin: 0 2px; 
}
.d1 .xb3 {
margin: 0 1px;
}
/* ENDE BOX MIT ABGERUNDETEN ECKEN #D1E1F0 */
/* BOX MIT ABGERUNDETEN ECKEN #B66 */
.b6 {
background: transparent; 
}
.b6 .xtop, 
.b6 .xbottom {
display: block; 
background: transparent;
font-size: 1px;
}
.b6 .xb1, .b6 .xb2, .b6 .xb3 {
display: block; 
overflow: hidden;
}
.b6 .xb1, .b6 .xb2, .b6 .xb3 {
height: 1px;
}
.b6 .xb2, 
.b6 .xb3 {
background: #666; 
}
.b6 .xb1 {
margin: 0 3px; 
background: #666;
}
.b6 .xb2 {
margin: 0 2px; 
}
.b6 .xb3 {
margin: 0 1px;
}
/* ENDE BOX MIT ABGERUNDETEN ECKEN #B66 */
/* BOXES Start */

/* FILTER (PROJECTS/GROUPS) START */
.filter {
margin: 10px 0 0 10px;
}
.filter h2 {
display: block;
float: left;
width: auto;
line-height: 1.5em;
padding: 0;
margin-right: 10px;
}
.filter label {
font-size: 75%;
display: block;
float: left;
line-height: 1.5em;
width: auto;
margin: 0 5px 0 15px;
}
.filter select {
display: block;
float: left;
margin: 1px 0;
padding: 0;
border: 1px solid #666;
line-height: 1.5em;
}
/* FILTER (PROJECTS/GROUPS) EOF */

/* ERRORS START */
ul.req {
line-height: 1.2em;
padding: 4px 15px;
background: #d1e1f0;
font-weight: bold;
color: red;
list-style-position: inside;
}
#rp {
display: block;
background-color: transparent;
margin: 0;
padding: 0;
}
#rp h1, #rp p {
margin: 0;
padding: 10px 10px 0 10px;
background-color: #d1e1f0;
}
#rp h1 {
color: red;
}
#rp p {
padding: 0 10px 10px 10px;
}
/* ERRORS EOF */

/* FORMS START */
form.botbg {
width: 710px;
padding-bottom: 20px;
margin-top: 20px;
background: transparent url(../img/bg_form.gif) left bottom no-repeat;
}
fieldset.topbg {
width: 710px;
padding: 20px 10px 0 10px;
background: transparent url(../img/bg_fieldset.gif) left top no-repeat;
}
label {
display: block;
height: 1.5em;
line-height: 1.5em;
width: 680px;
margin: 15px 0 0 0;
}
label.cont {
margin: 5px 0;
}
label span.bez {
display: block; 
float: left;
width: 140px;
}
label span.req {
color: #f00;
}
input.short, input.medium, input.long, input.title, 
input.w130, input.w200, input.w300, input.w580 {
width: 130px;
border: 1px solid #666;
padding: 2px 2px;
color: #000;
background: #fff;
}
input.medium, input.w200 {
width: 200px;
}
input.long, input.w300 {
float: left;
width: 300px;
}
input.title, input.w580 {
width: 580px;
font-weight: bold;
}
textarea.contents, textarea.w575h400 {
border: 1px solid #666;
width: 575px;
height: 400px;
margin: 0 0 20px 0;
padding: 5px;
}
textarea.short50, textarea.w293h50 {
float: left;
border: 1px solid #666;
font: 100% Arial, Helvetica, sans-serif;
width: 293px;
height: 50px;
padding: 3px;
margin: 0;
}
.flselect {
margin: 1px 5px 0 0;
padding: 0;
border: 1px solid #666666;
}
input.chbx {
border-color: #666;
}
input.submitbut140 {
text-align: left;
background: #666 url(../img/submitbut140.gif) no-repeat;
color: #fff;
width: 140px;
height: 20px;
font-size: 80%;
font-weight: bold;
border: 0 none;
padding: 0 0 0 5px;
margin: 10px  0 0 140px;
cursor: pointer;
}
/* FORMS EOF */

/* VALIDATE START */
#content span.validate {
float: left;
display: block; 
width: 225px;
height: 1.5em;
line-height: 1.5em;
padding-left: 5px;
}
#content span.validate img {
vertical-align: middle;
}
/* VALIDATE EOF */

/* HELP START */
#content p.help {
display: block;
line-height: 1.5em;
width: 300px;
margin: 0;
padding-left: 140px;
}
.iHelp img, .iHelpRemove img {
vertical-align: middle;
}
/* HELP EOF */

/* CLEARFIX START */
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix { 
height: 1%; 
}
/* End hide from IE-mac */
/* CLEARFIX EOF */


/* DIVERSES START */
.clearb {
clear: both;
}
/* DIVERSES EOF */