<div id="topnavcon">
<ul id="topnav">

{if 
	   wcom_check_access('Content', 'Page', 'Manage')
	|| wcom_check_access('Content', 'GlobalBox', 'Manage')
	|| wcom_check_access('Content', 'Navigation', 'Manage')
	|| wcom_check_access('Content', 'PageType', 'Manage')
	|| wcom_check_access('Content', 'StructuralTemplate', 'Manage')
	|| wcom_check_access('Content', 'BlogPodcastCategory', 'Manage')
	|| wcom_check_access('Content', 'BlogPosting', 'Manage')
	|| wcom_check_access('Content', 'SimpleForm', 'Manage')
	|| wcom_check_access('Content', 'SimplePage', 'Manage')
}
<li><a {if $area == 'contents'}class="conon"{else}class="con"{/if} href="{$wcom_admin_root_www}/content/pages_select.php">{i18n Contents}<span></span></a></li>
{/if}

<!-- <li><a {if $area == 'media'}class="medon"{else}class="med"{/if} href="{$wcom_admin_root_www}/media/media_select.php">{i18n Media Library}<span></span></a></li> -->

{if 
	   wcom_check_access('Community', 'BlogComment', 'Manage')
	|| wcom_check_access('Community', 'BlogCommentStatus', 'Manage')
	|| wcom_check_access('Community', 'AntiSpamPlugin', 'Manage')
	|| wcom_check_access('Community', 'Settings', 'Manage')
}
<li><a {if $area == 'community'}class="comon"{else}class="com"{/if} href="{$wcom_admin_root_www}/community/community_select.php">{i18n Community}<span></span></a></li>
{/if}

{if 
	   wcom_check_access('User', 'User', 'Manage')
	|| wcom_check_access('User', 'Group', 'Manage')
	|| wcom_check_access('User', 'Right', 'Manage')
}
<li><a {if $area == 'users'}class="usron"{else}class="usr"{/if} href="{$wcom_admin_root_www}/user/users_select.php">{i18n Users}<span></span></a></li>
{/if}

{if 
	   wcom_check_access('Templating', 'Template', 'Manage')
	|| wcom_check_access('Templating', 'TemplateSet', 'Manage')
	|| wcom_check_access('Templating', 'TemplateType', 'Manage')
	|| wcom_check_access('Templating', 'GlobalTemplate', 'Manage')
	|| wcom_check_access('Templating', 'GlobalFile', 'Manage')
}
<li><a {if $area == 'templating'}class="temon"{else}class="tem"{/if} href="{$wcom_admin_root_www}/templating/templates_select.php">{i18n Templating}<span></span></a></li>
{/if}

{if 
	   wcom_check_access('Application', 'Project', 'Manage')
	|| wcom_check_access('Application', 'PingService', 'Manage')
	|| wcom_check_access('Application', 'TextConverter', 'Manage')
	|| wcom_check_access('Application', 'TextMacro', 'Manage')
	|| wcom_check_access('Application', 'Sitemap', 'Manage')
}
<li><a {if $area == 'application'}class="seton"{else}class="set"{/if} href="{$wcom_admin_root_www}/settings/settings.php">{i18n Settings}<span></span></a></li>
{/if}
</ul>
<!-- topnavcon --></div>