{if count($projects) > 1}
<form action="../application/projects_choose.php" method="post">
<fieldset>
<input type="hidden" name="go_back_area" value="{$go_back_area}" />
<input type="hidden" name="go_back_file" value="{$go_back_file}" />
</fieldset>
<div id="projects"><span>{i18n Project}:</span>
<select name="project_id" class="fselect">
{foreach from=$projects item=_project}
<option value="{$_project.id|escape:"html"}"{if $_project.id == $wcom_current_project} selected="selected"{/if}>{$_project.name|escape:"html"}</option>
{/foreach}
</select>
<input class="submit90" type="submit" name="send" value="{i18n load}" title="{i18n Load project}" />
<!--projects --></div>
</form>
{/if}