<div id="topsubnavcon">
<ul id="topsubnavdynamic">
<li><a href="{$wcom_admin_root_www}/media/documents_select.php">{i18n Documents}</a></li>
<li><a href="{$wcom_admin_root_www}/media/images_select.php">{i18n Images}</a></li>
<li><a href="{$wcom_admin_root_www}/media/podcasts_select.php">{i18n Podcasts}</a></li>
<li><a href="{$wcom_admin_root_www}/media/documentcategories_select.php">{i18n Document Categories}</a></li>
<li><a href="{$wcom_admin_root_www}/media/imagecategories_select.php">{i18n Image Categories}</a></li>
<li><a class="highlight" href="">&nbsp;</a></li>
</ul>
<!-- topnavcon --></div>