<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="language" content="de" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" /> 
<title>{i18n Welcompose Admin &ndash; Error}</title>
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.basic.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.pagemanager.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../static/styles/wcom.error.css" media="screen, projection" />

<script type="text/javascript" src="../static/libs/thirdparty/prototype.js"></script>
<script type="text/javascript" src="../static/libs/thirdparty/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="../static/libs/thirdparty/behaviours.js"></script>
<script type="text/javascript" src="../parse/parse.js.php?file=wcom.strings.js"></script>
<script type="text/javascript" src="../static/libs/wcom.core.js"></script>
<script type="text/javascript" src="../static/libs/wcom.helper.js" charset="utf-8"></script>
</head>

<body id="errormsgpopup723" onunload="Helper.closePopupTrackNoAlert()">
<div id="container">

<div id="logo">
<p>{i18n Welcompose}</p>
<!-- logo --></div>

<div id="main">
<div id="content">

<h1>{i18n An error occured}!</h1>

<h2>{i18n Welcompose says}: <span>{$message}</span></h2>

<!-- content --></div>

<!-- main --></div>

{include file="_inc_footer.html"}

<!-- container --></div>
</body>
</html>